<%- include ../header %>
<link href="/css/group/marketList.css?v=<%= config.version %>" rel="stylesheet" />


<div class="c-w" id="c-header">
    <div class="c-h">
        <div class="huany">欢迎admain进入奉贤医疗器械管理平台！！！</div>
        <div class="geren">
            <a href="javascript:;" class="gerena" id="u-btn">个人中心</a>
            <div class="tongzhi" id="tongzhi">
                <ul class="clearfix">
                    <li><a class="btn" data-toggle="modal" data-target="#modal-fromMessage" >通知</a>
                        <div class="sm_dian">3</div>
                    </li>
                    <li><a href="#" class="btn" >修改密码</a></li>
                    <li><a href="#" class="btn" >退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="c-bg"></div>
</div>


<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
        <div class="c-l">
            <ul class="c-list">
                <li><a href="javascript:;"><i class="icon-caret-right"></i> 接口管理</a>
                    <dl>
                        <dd>
                            <a href="javascript:;">市场所</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">园区</a>
                        </dd>
                    </dl>
                </li>
                <li><a href="javascript:;"><i class="icon-caret-right"></i> 接口管理</a>
                    <dl>
                        <dd>
                            <a href="javascript:;">市场所</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">园区</a>
                        </dd>
                    </dl>
                </li>
                <li><a href="javascript:;"><i class="icon-caret-right"></i> 接口管理</a>
                    <dl>
                        <dd>
                            <a href="javascript:;">市场所</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">园区</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="c-r">

            <div id="app">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript"  src="dist/index.js"></script>
<div class="c-f" id="c-footer">
    <div class="c-text">
        <p>上海市市辖区奉贤区南桥镇上海市奉贤区南桥镇南亭公路269号<br>
            Copyright © CFDA All Rights Reserved    备案序号:沪ICP备13027807号</p>
    </div>
</div>

</body>
</html>



<div class="modal fade " id="modal-fromMessage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg v-tabs-modal">
        <div class="modal-content">
            <div class="modal-header o-nobor clearfix">
                <button type="button" class="close v-tabs-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <a href="javascript:;" class="v-modal-msg-btn" >设置为已读 </a>
            </div>
            <div class="modal-body o-pd-t">

                <div class="row v-table-msg">
                    <div class="col-md-12">
                        <div class="block">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center" style="width: 50px;"></th>
                                    <th class="text-left">头条</th>
                                    <th class="text-center"  style="width: 15%;">日期</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center"><span class="v-core"></span></td>
                                    <td class="text-left" ><a href="javascript:;">奉贤区局对本企业行政建 ... </a></td>
                                    <td class="text-center">
                                        2016-08-12
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center"><span class="v-core"></span></td>
                                    <td class="text-left" ><a href="javascript:;">奉贤区局对本企业行政建 ... </a></td>
                                    <td class="text-center">
                                        2016-08-12
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center"><span class="v-core"></span></td>
                                    <td class="text-left" ><a href="javascript:;">奉贤区局对本企业行政建 ... </a></td>
                                    <td class="text-center">
                                        2016-08-12
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center"><span class="v-core"></span></td>
                                    <td class="text-left" ><a href="javascript:;">奉贤区局对本企业行政建 ... </a></td>
                                    <td class="text-center">
                                        2016-08-12
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center"><span class="v-core"></span></td>
                                    <td class="text-left" ><a href="javascript:;">奉贤区局对本企业行政建 ... </a></td>
                                    <td class="text-center">
                                        2016-08-12
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center"><span class="v-core"></span></td>
                                    <td class="text-left" ><a href="javascript:;">奉贤区局对本企业行政建 ... </a></td>
                                    <td class="text-center">
                                        2016-08-12
                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-center"><span class="v-core"></span></td>
                                    <td class="text-left" ><a href="javascript:;">奉贤区局对本企业行政建 ... </a></td>
                                    <td class="text-center">
                                        2016-08-12
                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-center"><span class="v-core"></span></td>
                                    <td class="text-left" ><a href="javascript:;">奉贤区局对本企业行政建 ... </a></td>
                                    <td class="text-center">
                                        2016-08-12
                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-center"><span class="v-core"></span></td>
                                    <td class="text-left" ><a href="javascript:;">奉贤区局对本企业行政建 ... </a></td>
                                    <td class="text-center">
                                        2016-08-12
                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-center"><span class="v-core"></span></td>
                                    <td class="text-left" ><a href="javascript:;">奉贤区局对本企业行政建 ... </a></td>
                                    <td class="text-center">
                                        2016-08-12
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row v-table-msg-c">

                    <div class="col-md-12 col-lg-12 clearfix">
                        <h5 class="text-left">奉贤青浦食品医疗市场管理所：</h5>
                        <div class="col-md-8 col-md-offset-1 v-msg-box">
                            <p class="v-msg-content">
                                上海XXX公司对您的约谈已同意！ 上海XXX公司对您的约谈已同意！ 上海XXX公司对您的约谈已同意！ 上海XXX公司对您的约谈已同意！ 上海XXX公司对您的约谈已同意！ 上海XXX公司对您的约谈已同意！ 上海XXX公司对您的约谈已同意！ 上海XXX公司对您的约谈已同意！ 上海XXX公司对您的约谈已同意！ 上海XXX公司对您的约谈已同意！
                            </p>
                        </div>
                        <div class="col-md-12  ">
                            <p class="v-msg-f pull-right col-md-2">
                                上海XXX公司
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-12  col-md-12 v-msg-f-btn">
                        <button type="button" class="btn btn-primary btn-sm v-t-b">已读</button>
                    </div>


                </div>
            </div>
        </div><!-- /.modal-content -->

    </div><!-- /.modal-dialog -->
</div><!-- /.modal  通知-->




<!--约谈－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－-->

<div class="modal fade " id="modal-fromleft" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg v-tabs-modal">
        <div class="modal-content">
            <div class="modal-header o-nobor">
                <button type="button" class="close v-tabs-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <div class="row v-table">
                    <div class="col-md-12">
                        <div class="block">
                            <table class="table js-table-checkable  table-hover table-borderless">
                                <thead>
                                <tr class="v-table-tr">
                                    <th class="text-center" style="width: 50px;"></th>
                                    <th class="text-center" style="width: 22%">企业名称</th>
                                    <th class="text-center" style="width: 150px">检查状态</th>
                                    <th class="text-center" style="width: 150px;">检查员</th>
                                    <th class="text-center" style="width: 15%">检查日期</th>
                                    <th class="text-center">备注</th>
                                </tr>
                                </thead>
                                <tbody class="v-tabs-check">
                                <tr>
                                    <td class="text-center">
                                        <label class="css-input css-checkbox css-checkbox-primary">
                                            <input type="checkbox" id="row_3" name="row_3"><span></span>
                                        </label>
                                    </td>
                                    <td class="text-center">上海医德医疗设备有限公司</td>
                                    <td class="text-center">合格</td>
                                    <td class="text-center">王先生</td>
                                    <td class="text-center">
                                        2016-06-29
                                    </td>
                                    <td class="text-center">
                                        该公司的销售及供应商<a href="javascript:;"  class="btn btn-link"> 详情</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-center">
                                        <label class="css-input css-checkbox css-checkbox-primary">
                                            <input type="checkbox"  name="row_3"><span></span>
                                        </label>
                                    </td>
                                    <td class="text-center">上海医德医疗设备有限公司</td>
                                    <td class="text-center">合格</td>
                                    <td class="text-center">王先生</td>
                                    <td class="text-center">
                                        2016-06-29
                                    </td>
                                    <td class="text-center">
                                        该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-center">
                                        <label class="css-input css-checkbox css-checkbox-primary">
                                            <input type="checkbox"  name="row_3"><span></span>
                                        </label>
                                    </td>
                                    <td class="text-center">上海医德医疗设备有限公司</td>
                                    <td class="text-center">合格</td>
                                    <td class="text-center">王先生</td>
                                    <td class="text-center">
                                        2016-06-29
                                    </td>
                                    <td class="text-center">
                                        该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                    </td>
                                </tr>

                                </tbody>

                            </table>
                            <div class="col-lg-12 "id="v-all-check">
                                <label class="css-input css-checkbox css-checkbox-primary">
                                    <input type="checkbox"  name="row_3"><span></span>
                                </label>
                                <b class="v-all">全选</b>
                                <button class="btn btn-primary btn-sm v-modal-yue" >约谈</button>
                            </div>

                            <div class="yema">
                                <div class="yema_befor"><a href="javascript:;" >上一页</a>     第</div>
                                <nav>
                                    <ul class="pagination pagination-sm">
                                        <li class="disabled">
                                            <a href="javascript:void(0)"><i class="fa fa-angle-double-left"></i></a>
                                        </li>
                                        <li class="active">
                                            <a href="javascript:void(0)">1</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">2</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">3</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">4</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">5</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">6</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">7</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">8</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">9</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">...</a>
                                        </li>

                                        <li>
                                            <a href="javascript:void(0)"><i class="fa fa-angle-double-right"></i></a>
                                        </li>
                                    </ul>
                                </nav>页 <a href="javascript:;" >下一页</a> <a href="javascript:;" >尾页</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal  约谈  -->



<!--   共用 照片弹框  －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－-->

<div class="modal fade " id="modal-fromtext" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header o-nobor">
                <button type="button" class="close v-tabs-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <div class="row v-table-text">
                    <div class="col-md-12 col-lg-12">
                        <div class="form-group clearfix">
                            <label class="col-md-2 o-pd control-label col-md-offset-1 text-right" for="val-suggestions">备注内容：</label>
                            <div class="col-md-7">
                                撒打算打算dasd啊实打实的阿斯顿阿斯顿
                                撒打算打算dasd啊实打实的阿斯顿阿斯顿
                                撒打算打算dasd啊实打实的阿斯顿阿斯顿
                                撒打算打算dasd啊实打实的阿斯顿阿斯顿
                                撒打算打算dasd啊实打实的阿斯顿阿斯顿
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal  照片弹框  -->



<!--   共用  详情页面  －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－-->


<div class="modal fade " id="modal-fromphoto" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  v-tabs-modal">
        <div class="modal-content">
            <div class="modal-header o-nobor">
                <button type="button" class="close v-tabs-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <div class="row v-table-img">
                    <div class="col-md-12 col-lg-12">
                        <img src="images/img-01.jpg">
                    </div>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal  详情页面  -->


<script>
    seajs.use("js_cmd/group/marketList-cmd");
</script>
<%- include ../footer %>



