
.table-borderless > tbody > tr > td, .table-borderless > tfoot > tr > td {
    border: none;font-size: 14px; 
    line-height: 2.3;
}

.table>thead>tr>th{ border-bottom: 0; font-size: 16px; font-weight: normal;}

.block > .nav-tabs > li.active > a, .block > .nav-tabs > li.active > a:hover, .block > .nav-tabs > li.active > a:focus {
    color: #646464;
}

.block > .nav-tabs {
    background-color: #f9f9f9;
    border-bottom: none;
}

.block > .nav-tabs > li {
    margin-bottom: 0;
}

.block > .nav-tabs > li > a {
    margin-right: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #646464;
    font-weight: 600;

    border-radius: 0;
}

label{font-weight: normal; color: #313131;}

.v-tabs-date{ padding-top: 20px;}
.v-fz{font-size: 16px !important; margin-top: 8px;  padding-left: 15px; width: 120px;}
.v-tabs-btn{ margin: 0 5px !important;}
.v-tabs-btn:nth-last-child(1){margin-right: 0;}

.v-table-tr th{font-size: 16px; }
.v-tabs-modal{ width: 950px !important;}
.v-label-l{  font-size: 18px !important; padding-left: 15px; width: 120px; margin-top: 7px; }
.v-label{ font-size: 18px !important; padding-left: 15px; width: 120px; margin-top: 7px;}
.v-label-s{font-size: 18px !important;width: 80px; margin-top: 7px; }
.v-label-x{font-size: 18px !important;width: 60px; margin-top: 7px; }


.v-tabs-title{ padding-bottom: 20px;}
.v-t-b{ width: 100px; float: left;}
.v-t-m{ width: 100px; float: right;}

.v-modal-yue{ margin-left: 15px; padding:2px 25px;font-size: 16px; }

.css-input {
    position: relative;
    display: inline-block;
    margin: 2px 0;
    font-weight: 400;
    cursor: pointer;
}
.css-input input {
    position: absolute;
    opacity: 0;

}
.css-input input:focus + span {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}
.css-input input + span {
    position: relative;
    display: inline-block;
    margin-top: -2px;
    margin-right: 3px;
    vertical-align: middle;
}
.css-input input + span:after {
    position: absolute;
    content: "";
}

.css-checkbox input + span {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}



.v-all{ padding-left: 20px;}


.v-tabs-check tr.active span{
    background-color: #5c90d2;
    border-color: #5c90d2;
}


#v-all-check.active span{
    background-color: #5c90d2;
    border-color: #5c90d2;
}


.v-table-msg{ height: 280px; overflow-y: scroll;}
.v-table-msg-c{  height: 280px; border-top:2px solid #e9e9e9; }
.v-modal-msg-btn{ float: right; padding-right: 20px; padding-top: 2px;}
.v-table-msg-c h5{ padding-top: 20px; padding-left: 15px;}
.v-table-msg-c .v-msg-content{  padding: 20px 0; }
.v-msg-f-btn{ padding-left: 30px;}
.v-core{ width: 10px; height: 10px; border-radius: 50%;background: #ccc; display: inline-block;}
.v-item-btn{ float: right; position: relative;}



.v-modal-min{ width: 460px; box-sizing: border-box; padding: 30px 0; opacity: 0; display: none;  background: #fff; border: 1px solid #ccc; box-shadow: 0px 0px 10px 1px rgba(0,0,0,.4); position: absolute; z-index: 9;left: 50%; margin-left: -230px; top: 50px; }

.v-modal-min:before {
    left: 213px;

}
.v-modal-min:before {
    top: -17px;
}


.v-modal-min:before {
    content: '';
    display: inline-block;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 17px solid #ccc;
    border-top: 0;
    border-bottom-color: rgba(0,0,0,.2);
    position: absolute;

}

.v-modal-min:after {
    content: '';
    display: inline-block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff;
    border-top: 0;
    position: absolute;

}

.v-modal-min:after {
    top: -15px;
}

.v-modal-min:after {
    left: 215px;
}


.css-checkbox-primary input:checked + span {
    background-color: #5c90d2;
    border-color: #5c90d2;
}


.css-checkbox input + span {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.css-input input + span {
    position: relative;
    display: inline-block;
    margin-top: -2px;
    margin-right: 3px;
    vertical-align: middle;
}

.css-checkbox input + span:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: "FontAwesome";
    font-size: 10px;
    color: #fff;
    line-height: 18px;
    content: "\f00c";
    text-align: center;
}

.v-code{ padding-top: 10px !important;}
.v-min-fz{ margin-top: 7px;}

.v-table-img{ width: 730px; height: 480px; margin: 0 auto;}
.v-table-img img {width: 100%;}

.v-table-text{ height: 200px;}

.v-cont{ white-space: nowrap;text-overflow: ellipsis; }
.v-msg-content-n{ display: none; }
.v-msg-company-n{ display: none; }
.v-btn-w{width: 80px !important;}
.open{display: block !important;}


.v-btn-mar{margin-left: 107px;}







