
a{ text-decoration:none;}

.warp {width:1200px; margin:0 auto;}
#big_box{width:100%; min-width:1200px; overflow:hidden;}


/*登录（denglu）页面的css*/
.big_bj{width:100%;float:left;height:800px;background:url(../images/dl.jpg) no-repeat center center;background-size:cover;}
.denglu{width:476px;height:497px;float:right;margin-top:157px;background:#fff;border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;-webkit-border-radius:6px;box-shadow:0 2px 5px 2px rgba(118, 132, 138, .7);-webkit-box-shadow:0 2px 5px 2px rgba(118, 132, 138, .7);-moz-box-shadow:0 2px 5px 2px rgba(118, 132, 138, .7);}
.denglu_title{ width:100%; height:48px; line-height:48px; padding-top:49px; text-align:center; overflow:hidden; font-size:36px; color:#333333; }
.denglu_content{ width:388px; float:left; overflow:hidden;}
.denglu_kuang{ width:100%; float:left; height:41px; padding-top:30px;}
.denglu_name{ width:130px; float:left; height:41px; line-height:41px; overflow:hidden; text-align:right; font-size:24px; color:#000;}
.denglu_m{ width:232px; height:37px; line-height:37px; float:right; border:1px solid #b5b5b5; color:#999999; font-size:14px;  text-indent:14px;}
.denglu_yz{ width:107px; height:37px; float:left; margin-left:25px; display:inline; border:1px solid #b5b5b5;}
.denglu_tu{ width:116px; float:right;}
.denglu_tu img{ display:block;height:41px; }
.denglu_rem{ float:left; padding-left:152px; height:30px; line-height:30px; color:#333333; font-size:14px;}
.denglu_rem .kk{ width:15px; height:15px; border:1px solid #b5b5b5;}
.denglu_am{ width:100%; float:left; padding-top:35px;}
.denglu_am .denglu_bm{ width:120px; margin:0 auto; }
.denglu_am .denglu_bm .denglu_btm{ width:100%; float:left; height:40px; line-height:30px; outline: none; overflow:hidden; text-align:center; background:#438bd6; color:#fff; font-size:24px;}
.denglu_am a{ width:100%; float:left; text-align:center; color:#333333; font-size:14px; line-height:40px;}



/*单位管理园区*/
.guanli_box{ width:100%; float:right; padding:0 2%;}
.guanli_title{ width:100%; float:left;}
.guanli_che{ width:282px; float:left; height:48px; padding-top:8px;color:#000;  }
.chename{ width:96px; float:left; height:40px; line-height:40px; text-align:left;font-size:24px; }
.guanli_sel{ width:179px; height:38px; float:right; border:1px solid #aaaaaa; font-size:18px;}
.guanli_xz{ width:135px; height:40px; color: #fff !important; float:right; background:#438bd6; text-align:center; font-size:24px; line-height:40px;}
.guanli_content{ width:100%; float:left; padding:10px 6%;}
.guanli_content ul{ display:block;}
.guanli_content ul li{ width:25%; float:left; text-align:center;}
.guanli_content ul li .guanli_mc{ width:100%; float:left; height:34px; line-height:34px; color:#333333; font-size:18px; }
.guanli_content ul li dd{ width:100%; float:left; height:40px; line-height:40px;color:#000; font-size:14px; }


/*下一页的样式*/
.pagination {
  border-radius: 0;

}
.pagination > li {
  display: block;
  float: left;
  margin: 5px 0 5px 5px;
}
.pagination > li > a,
.pagination > li > span {
  display: block;
  float: none;
  margin: 0;
  padding-right: 8px;
  padding-left: 8px;
  color: #646464;
  font-weight: 600;
  border: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #5c90d2;
  background-color: transparent;
  -webkit-box-shadow: 0 2px #5c90d2;
  box-shadow: 0 2px #5c90d2;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #5c90d2;
  background-color: #f9f9f9;
  -webkit-box-shadow: 0 2px #5c90d2;
  box-shadow: 0 2px #5c90d2;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #c9c9c9;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.yema{ width:100%; float:left; line-height:77px; text-align:left; padding-left:24%;}
.yema_befor{ float:left; text-align:right;}
.yema_end{ float: left; }
.disabled a:hover{ cursor: not-allowed; }
.disabled a{pointer-events: none;opacity: .65;    border-color: transparent;    background-color: transparent;}
nav{float:left; text-align:center;}

/*区局进入*/
.quju{ width:100%; float:left;}
.quju img{ width:100%;}

/*角色管理之编辑管理员*/
.role{ width:100%; float:left; padding:0 2%;}
.role_title{ width:100%; float:left; height:48px; padding-top:8px; color:#000; font-size:24px; line-height:40px;}
.role_title ul{ display:block;}
.role_title ul li{ width:33%; float:left;}
.radio-m{ margin-right:10px !important;}
.o-m-t{ margin-top:15px !important;}
.o-m-p{margin-left:20px;}
.xg-btm{ width:64px; float:right;}
.xgl-btm{ width:64px; float:left;}

/*角色管理之增加管理员*/
.table_ad{ width:685px; float:left; margin-top:15px;}
.zj-ys{ color:#000; font-size:18px !important; height:46px ; line-height:46px;}
.zj-text{ width:288px;}
.add-lb{ width:180px;}
.add-qd{ width:130px; height:50px; margin:0 auto;}
.add-hei{ height:75px !important;}
.bei-zhu{ width:64px; margin:0 4px; float:left;}

/*企业进入*/
.qysp_title{width:100%;height:80px;line-height:80px;color:#333333;font-size:33.6px;text-align:center;}
.qysp_text{padding-top:15px; line-height:49px;color:#333333;font-size:18px;}


/*区局进入企业详情*/
.qyspxq_title{width:100%;height:77px;line-height:77px;color:#333333;font-size:28px;text-align:center;}
.qyspxq_text{line-height:39px;color:#333333;font-size:18px;}
.qjjr_xq{width:100px;}



.o-add-l{ margin-left:66px;}
.v-righ{ text-align:right; color:#313131; font-size:18px; line-height:34px;}
.v-left{text-align:left;color:#333333;font-size:14px;line-height:34px}



/*区局架构*/

.quju_title{ background:url(../images/tiao.jpg) no-repeat  center bottom; height:98px; margin-top:17px;}
.quju_zi{ width:146px; height:75px; margin:0 auto; background:url(../images/kuang1.jpg) no-repeat center center; line-height:75px; text-align:center; font-size:24px; color:#000; overflow:hidden;}
.quju{ position:relative;}
.quju ul{ width:112%; position:absolute; left:-26px; top:0;}
.quju ul li{ width:146px; height:97px; float:left; text-align:center; background:url(../images/kuang2.jpg) no-repeat center center; padding-top:22px; margin-right:45.5px; overflow:hidden; white-space:nowrap;}
.quju_sp1{ line-height:24px; font-size:14px; color:#000; padding-top:16px;}
.qiju_sp2{ font-size:24px; color:#000; line-height:79px;}
.qiju_sp3{ font-size:24px; color:#000; line-height:31px; padding-top:9px;}
.qiju_sp4{ font-size:20px; color:#666666; line-height:32px;}





















