<div class="c-f" id="c-footer">
   <div class="c-text">
        <p>上海市市辖区奉贤区南桥镇上海市奉贤区南桥镇南亭公路269号<br>
        Copyright © CFDA All Rights Reserved    备案序号:沪ICP备13027807号</p>
   </div>
</div>



<script>
  seajs.use('/js_cmd/components/message/message')
  var Common=new Common('.c-list li >a');

</script>
</body>
</html>