    <div class="c-l">
         
             <ul class="c-list">
               
              <%= %>
              <li><a href="javascript:;"><i class="icon-caret-right"></i> 组织架构</a>
                  <dl>
                      <dd>
                          <a href="/region/scs">市场所</a>
                      </dd>
                      <dd>
                          <a href="/region/yq">园区</a>
                      </dd>
                      <dd>
                          <a href="/region/qy">企业</a>
                      </dd>
                  </dl>
               </li>
               <li><a href="/inspect/list"> 网络检查列表</a></li>
               <li><a href="/order/list"> 预约检查列表</a></li>
               <li><a href="/interview/list"> 行政约谈列表</a></li>

          
               <li><a href="/administration/suggest/list"> 行政建议列表</a></li>
               <li><a href="/park/annual"> 年报公示列表</a></li>
               <li><a href="javascript:;"><i class="icon-caret-right"></i> 用户管理</a>
                   <dl>
                       <dd>
                           <a href="/admin/edit">角色管理</a>
                       </dd>
                       <dd>
                           <a href="/admin/user/list">用户列表</a>
                       </dd>
                       <dd>
                           <a href="/logout">退出</a>
                       </dd>
                   </dl>
               </li>
           </ul>


        </div>