


<div class="modal fade " id="modal-fromMessage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg v-tabs-modal">
        <div class="modal-content">
            <div class="modal-header o-nobor clearfix">
                <button type="button" class="close v-tabs-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <!-- <a href="javascript:;" class="v-modal-msg-btn" >设置为已读 </a> -->
            </div>
            <div class="modal-body o-pd-t" id="v-msg">
                
            </div>
        </div><!-- /.modal-content -->

    </div><!-- /.modal-dialog -->
</div><!-- /.modal  通知-->




<!--约谈－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－-->

<div class="modal fade " id="modal-fromleft" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg v-tabs-modal">
        <div class="modal-content">
            <div class="modal-header o-nobor">
                <button type="button" class="close v-tabs-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <div class="row v-table">
                    <div class="col-md-12">
                        <div class="block" v-cloak>
                            <table class="table js-table-checkable  table-hover table-borderless"id="tables-all">
                                <thead>
                                <tr class="v-table-tr">
                                    <th class="text-center" style="width: 50px;"></th>
                                    <th class="text-center " v-for="item in modalList.title" v-bind:style="{ width: modalList.style[$index] }">{{item}}</th>
                                </tr>
                                </thead>
                                <tbody class="v-tabs-check">
                                <tr v-for="item in modalList.content">
                                    <td class="text-center">
                                        <label class="css-input css-checkbox css-checkbox-primary">
                                            <input type="checkbox" data-type="COMPANY" :value="item.id"><span></span>
                                        </label>
                                    </td>

                                    <td class="text-center">{{item.name}}</td>
                                    <td class="text-center">{{item.address}}</td>
                                    <td class="text-center">{{item.phone}}</td>
                                    <td class="text-center">
                                     {{item.certificate}}
                                    </td>
                                    <td class="text-center">
                                        <span class="bus-msg">{{ item.businesses }} </span><a href="javascript:;" @click="showMsg($event) " class="btn-link">详情</a>
                                    </td>
                                    <td class="text-center">
                                       {{item.expireDate}}
                                    </td>
                                </tr>

                            
                                </tbody>
                            </table>
                  
                           
                        
                            <div class="col-md-2 "  id="v-all-check">
                                <label class="css-input css-checkbox css-checkbox-primary">
                                    <input type="checkbox"  name="row_3"><span></span>
                                </label>
                                <b class="v-all">全选</b>
                             </div>
                            <div class="col-md-3 o-pd">
                                      <select class="form-control " id="select-interview-all" name="date-interview">
                                           
                                                 <option value="3">三天内</option>
                                                 <option value="7">七天内</option>
                                                 <option value="10">十天内</option>
                                       </select>
                             </div>
                             <div class="col-md-1 o-pd v-modal-min-all" >
                                 <button class="btn btn-primary btn-sm v-modal-yue interview-btn-all">约谈</button>
                                 <p class="" id="v-msg" ></p>
                             </div>
                        </div>
                          <v-pages :pagelist="modalList.page||1"> </v-pages>
                    </div>
                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal  约谈  -->



<!--   共用 照片弹框  －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－-->

<div class="modal fade " id="modal-fromkey" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header o-nobor">
                <button type="button" class="close v-tabs-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <div class="row v-table-text">
                    <div class="col-md-12 col-lg-12">
                        <div class="form-group clearfix">
                            <label class="col-md-3 o-pd control-label col-md-offset-1 text-right" for="val-suggestions">APPKEY：</label>
                            <div class="col-md-8 appkey">
                              
                            </div>
                        </div>
                     <div class="form-group clearfix">
                            <label class="col-md-3 o-pd control-label col-md-offset-1 text-right" for="val-suggestions">SECRET：</label>
                            <div class="col-md-8 secret">
                                
                            </div>
                    </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                        <button type="button" class="btn btn-primary " id="again_secret"  >重新获取secret</button>
             </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal  照片弹框  -->






<!--   用户 修改  弹框 －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－-->


<div class="modal fade " id="modal-fromuser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header o-nobor">
                <button type="button" class="close v-tabs-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                       <div class="block-content block-content-narrow">

                                    <div class="js-validation-bootstrap form-horizontal" >
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="val-username">姓名 <span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control model-displayName" type="text" id="val-username" name="val-username" >
                                            </div>
                                        </div>
                                      
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="val-username">用户名 <span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control model-username" type="text" id="val-username" name="val-username" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="val-email">邮箱 <span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control model-mail" type="text" id="val-email" name="val-email" >
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="val-confirm-password">电话<span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control model-phone" type="text" id="val-confirm-password" name="val-confirm-password" >
                                            </div>
                                             <input class="form-control model-id" type="hidden" >
                                             <input class="form-control model-roleId" type="hidden" >
                                             <input class="form-control model-belongId" type="hidden" >
                                             <input class="form-control model-type" type="hidden" >
                                        </div>
                                        
                                       
                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-3">
                                                <button class="btn btn-sm btn-primary v-btn-w model-put-btn" >提交</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal  用户 修改  弹框  -->



<div class="modal fade " id="modal-details" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header o-nobor">
                <button type="button" class="close v-tabs-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                <div class="row " v-cloak>
                    <div class="col-md-12 col-lg-12" v-for="item in modalMsg.content.title">
                          <div class="col-md-3 text-right v-modal-text">{{item}}:</div> 
                          <div class="col-md-9 text-left v-modal-text">{{modalMsg.content.content[0][modalMsg.content.keys[$index]]}}</div> 
                    </div>
                </div>
            </div>
             <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-toggle="modal" :data-name="modalMsg.content.name"  data-target="#modal-fromleft" data-dismiss="modal" @click="getRelation($event,modalMsg.href)">关联账户</button>
             </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal  详情页面  -->



<!--   新增园区  弹框 －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－-->


<div class="modal fade " id="modal-addParty" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header o-nobor">
                <button type="button" class="close v-tabs-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                       <div class="block-content block-content-narrow">

                                    <div class="js-validation-bootstrap form-horizontal" >
                                        
                                       <div class="form-group">
                                        <label class="col-md-3 control-label" for="val-skill">市场所：</label>
                                        <div class="col-md-7">
                                            <select class="form-control select_park"  name="val-skill">
                                                <option value="all">请选择</option>
                                               
                                            </select>
                                           </div>
                                        </div>



                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="val-username">名称 <span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control admin-name" type="text" name="val-username" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label " for="val-password">电话 <span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control admin-phone" type="text"  name="val-phone" >
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="val-username">地址 <span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control admin-address" type="text" name="val-address" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="val-email">联系人 <span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control admin-concat" type="text" name="val-concat" >
                                            </div>
                                        </div>
                                      
                                       
                                        <div class="form-group">
                                            <div class="col-md-3 col-md-offset-3">
                                                <button class="btn btn-sm btn-primary v-btn-w admin-add-btn">提交</button>
                                            </div>
                                            <div class="col-md-6 admin-msg">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal  新增园区  弹框  -->









<!--   用户 修改密码  弹框 －－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－-->


<div class="modal fade " id="modal-password" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header o-nobor">
                <button type="button" class="close v-tabs-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                       <div class="block-content block-content-narrow">

                                    <div class="js-validation-bootstrap form-horizontal" >

                                        <div class="form-group">
                                            <label class="col-md-3 control-label " for="val-password">旧密码 <span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control model-modify-password" type="password" id="old-password" name="val-password">
                                            </div>
                                        </div>
                                       
                                        <div class="form-group">
                                            <label class="col-md-3 control-label " for="val-password">新密码 <span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control model-modify-password" type="password" id="new-password" name="val-password" >
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-2 col-md-offset-3">
                                                <button class="btn btn-sm btn-primary v-btn-w model-password-btn" >提交</button>

                                            </div>
                                            <div class="col-md-4 v-msg"> </div>
                                        </div>
                                      
                                    </div>
                                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal  用户 修改密码  弹框  -->


                 



