 

 <div class="v-tabs-title ">
                <div class="block">
                    <div class="block-header clearfix">
                        <div class="col-md-12 o-pd">
                            <h3 class="block-title"><%=user.content.companyName%></h3>
                            <% if(user.content.type!="COMPANY"&&user.content.lastInspectTime!=""&&user.content.lastInspectTime!=null){%>
                              <label class="block-title company-msg">该企业最近一次网络检查时间为：<%=user.content.lastInspectTime%></label>
                            <%}%>
                        </div>
                       <%if(user.content.type!="COMPANY"){%> 
                        <div class="col-md-8 col-md-offset-4 text-right o-pd clearfix">
                            <div class="v-item-btn">
                                <a class="btn btn-minw btn-primary v-tabs-btn" href="/organize/company" >退出</a>
                            </div>

                        <%if(user.content.btnPermissions.network_check){%>  
                            <div class=" v-item-btn">
                                <button class="btn btn-minw btn-primary  v-tabs-btn v-min-toggle" type="button">不合格</button>
                                <div class="v-modal-min">
                                    <div class="form-group clearfix o-mg">
                                        <div class="form-group ">
                                            <label class="col-md-3 control-label " >原因:</label>
                                            <div class="col-md-8 o-pd">
                                                <textarea class="form-control"  id="val-qualified"  rows="8" placeholder=""></textarea>
                                                <p class="v-msg"></p>
                                            </div>
                                        </div>

                                         <% if(user.content.type=="MARKET"||user.content.type=="DISTRICT"){%>
                                             <div class="col-md-9 col-md-offset-3 o-pd text-left v-code">
                                            <label class="css-input css-checkbox css-checkbox-primary" >
                                                <input type="checkbox" class="park-belongId_it"  ><span></span> 抄送至该企业所属园区
                                            </label>
                                          </div>
                                         <%}%> 

                                        <div class="col-md-10 col-md-offset-3 v-code text-left o-pd">
                                            <button class="btn btn-sm btn-primary v-t-b inspect-qualified-btn" data-status="FAIL" type="submit">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class=" v-item-btn">
                                <button class="btn btn-minw btn-primary v-tabs-btn inspect-qualified-btn2"  data-status="PASS" type="button">合格</button>
                            </div>
                    
                        <%}%> 


                    <%if(user.content.btnPermissions.suggestion){%>  
                            <div class="v-item-btn">
                                <button class="btn btn-minw btn-primary v-tabs-btn v-min-toggle" type="button">建议</button>
                                <div class="v-modal-min">
                                    <div class="form-group clearfix o-mg">

                                        <div class="form-group ">

                                            <label class="col-md-3 control-label " for="val-suggestions">建议:</label>
                                            <div class="col-md-7 o-pd">
                                                <textarea class="form-control" id="val-suggestion"  rows="8"  ></textarea>
                                                <p class="v-msg"></p>
                                            </div>
                                        </div>
                                         <% if(user.content.type=="MARKET"||user.content.type=="DISTRICT"){%>
                                             <div class="col-md-9 col-md-offset-3 o-pd text-left v-code">
                                            <label class="css-input css-checkbox css-checkbox-primary" >
                                                <input type="checkbox" class="park-belongId_s"  ><span></span> 抄送至该企业所属园区
                                            </label>
                                          </div>
                                         <%}%> 
                                    
                                        <div class="col-md-10 col-md-offset-3 v-code text-left o-pd ">
                                            <button class="btn btn-sm btn-primary v-t-b suggestion-btn" type="submit">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         <%}%>   


                        <%if(user.content.btnPermissions.appointment){%>  
                           <div class=" v-item-btn">
                                <button class="btn btn-minw btn-primary v-tabs-btn v-min-toggle " type="button">预约</button>
                                <div class="v-modal-min">
                                    <div class="form-group clearfix o-mg">
                                        <div class="form-group clearfix">
                                            <form>
                                                <label class="col-md-3 control-label v-min-fz">预约时间:</label>
                                                <div class="col-md-7 o-pd">
                                                  <div class="col-md-7 o-pd">
                                                    <input class="js-datepicker form-control" data-date-format="yyyy/mm/dd/" type="text"  id="date-appointment"  placeholder="mm/dd/yy">
                                                   
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="form-group ">

                                            <label class="col-md-3 control-label " for="val-suggestions">备注:</label>
                                            <div class="col-md-7 o-pd">
                                                <textarea class="form-control" id="val-appointment" name="val-suggestions" rows="8" placeholder=""></textarea>
                                                 <p class="v-msg"></p>
                                            </div>
                                        </div>
                                        <% if(user.content.type=="MARKET"||user.content.type=="DISTRICT"){%>
                                             <div class="col-md-9 col-md-offset-3 o-pd text-left v-code">
                                            <label class="css-input css-checkbox css-checkbox-primary" >
                                                <input type="checkbox" class="park-belongId_ap"  ><span></span> 抄送至该企业所属园区
                                            </label>
                                          </div>
                                         <%}%> 
                                    

                                        <div class="col-md-10 col-md-offset-3 v-code text-left o-pd ">
                                            <button class="btn btn-sm btn-primary v-t-b appointment-btn" type="submit">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <%}%> 


                            <%if(user.content.btnPermissions.interview){%>        
                                         <div class=" v-item-btn">
                                            <button class="btn btn-minw btn-primary v-tabs-btn v-min-toggle"  type="button">约谈</button>
                                             <div class="v-modal-min">
                                                        <div class="form-group clearfix o-mg">
                                                            <div class="form-group clearfix">
                                                           
                                                                    <label class="col-md-3 control-label v-min-fz">约谈时间:</label>
                                                                    
                                                                    <div class="col-md-5 o-pd">
                                                                      <select class="form-control " id="select-interview" name="date-interview">
                                                                           
                                                                                 <option value="3">三天内</option>
                                                                                 <option value="7">七天内</option>
                                                                                 <option value="10"十天内</option>
                                                                       </select>
                                                                   </div>
                                                            </div>


                                                                    <div class="form-group ">

                                                                        <label class="col-md-3 control-label " for="val-suggestions">备注:</label>
                                                                        <div class="col-md-7 o-pd">
                                                                            <textarea class="form-control" id="val-interview"  name="val-interview" rows="8" ></textarea>
                                                                            <p class="v-msg"></p>
                                                                        </div>
                                                                        <% if(user.content.type=="MARKET"||user.content.type=="DISTRICT"){%>
                                                                         <div class="col-md-9 col-md-offset-3 o-pd text-left v-code">
                                                                            <label class="css-input css-checkbox css-checkbox-primary" >
                                                                                <input type="checkbox" class="park-belongId_it"  ><span></span> 抄送至该企业所属园区
                                                                            </label>
                                                                          </div>
                                                                         <%}%> 
                                                                    </div>

                                                                

                                                                    <div class="col-md-10 col-md-offset-3 v-code text-left o-pd ">
                                                                        <button class="btn btn-sm btn-primary v-t-b interview-btn" type="submit">提交</button>
                                                                    </div>
                                                    </div>
                                                 
                                            </div>
                                      
                                        </div>
                                    <%}%>
      
                        </div>
                        <%}%>
                    </div>
                </div>   
         </div>
