<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
         <div class="c-r" id="app">
                <form class="form-horizontal clearfix"  onsubmit="return false;">
                    <div class="clearfix">
                        <div class="col-md-12">
                            

                            <div class="form-group" >
                                <v-select ></v-select>

                                <label class="col-md-1 o-pd v-label-s text-center" for="val-skill">企业:</label>
                                <div class="col-md-1 o-pd-l"style=" width:140px;" >
                                    <input class="form-control" name="company">
                                </div>

                           
                                 <button class="btn btn-md btn-primary " @click="getContent()" >查询</button>
                                
                             
                                  <button class="btn  btn-primary " >＋接口</button>
                            
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row v-table">
                    <div class="col-md-12">
                        <div class="block" id="c-table-checkbox">
                            <com-table-list :datalist="dataList"></com-table-list>
                        </div>
                    </div>
                </div>

                <v-pages :pagelist="dataList.content.page||1"> </v-pages>
          </div>
    </div>
</div>


<% include ../common/footer.ejs %>
<% include ../common/modals.ejs %>

<script>

    seajs.use("/js_cmd/group/admin_list-cmd");

    uiHelperTableToolsCheckable();

</script>



