<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>

        <div class="c-r" id="handle-table">
            <form class="form-horizontal clearfix"  method="post" onsubmit="return false;">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="v-t-m">
                                <button class="btn btn-md btn-primary btn-block" data-toggle="modal" data-target="#modal-addParty"  >新增市场所</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row v-table">
                <div class="block" >
                       <handle-table-list :datalist="<%=JSON.stringify(data) %>"></handle-table-list>
                </div>
            </div>
             <!-- <v-pages :pagelist="<%=JSON.stringify(data.page)||1%>"> </v-pages> -->
        </div>
   
    </div>
</div>


<% include ../common/modals.ejs %>
<% include ../common/footer.ejs %>


<script>
    seajs.use("/js_cmd/group/company_market-cmd");


</script>






