
      
<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>

      
         <div class="c-r" id="check-table">

            <form class="form-horizontal clearfix"  method="post" onsubmit="return false;">
                <div class="clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-1 o-pd v-label" for="val-skill">市场所：</label>
                            <div class="col-md-3">
                                <select class="form-control" id="select_park" name="val-skill" @change="getParkList()">
                                    <option value="all">请选择</option>
                                    <% dataSelect.forEach(function (item){ %>
                                      <option value="<%=item.id%>"><%=item.name%></option>
                                    <%})%>
                                </select>
                            </div>
                            <div class="v-t-m">
                                <button class="btn btn-md btn-primary btn-block " data-toggle="modal" data-target="#modal-addParty"  >新增园区</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row v-table">
                <div class="col-md-12">
                    <div class="block" >
                         <check-table-list :datalist="tableList"  ></check-table-list>
                    </div>
                </div>
            </div>

             <v-pages :pagelist="tableList.page||1"> </v-pages>

                   
        </div>
    </div>

</div>


<% include ../common/modals.ejs %>
<% include ../common/footer.ejs %>
<script>
    seajs.use("/js_cmd/group/company_park-cmd");

</script>
