
<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
         <div class="c-r">
            <div class="col-md-12">
                <div class="col-md-12 o-pd quju_title">
                  <div class="quju_zi">奉贤区局</div>
                </div>
                <div class="col-md-12 o-pd quju">
                  <ul>
                    <li><div class="quju_sp1">奉贤青村食品药品<br>监督管理所</div></li>
                    <li><div class="quju_sp1">奉贤柘林食品药品<br>监督管理所</div></li>
                    <li><div class="quju_sp1">奉贤庄行镇食品药品<br>监督管理所</div></li>
                    <li><div class="quju_sp1">奉贤奉浦食品药品<br>监督管理所</div></li>
                    <li><div class="qiju_sp2">更多市场所</div></li>
                    <li><div class="qiju_sp3">园区详情</div><div class="qiju_sp4">（19家）</div></li>
                      <li><div class="qiju_sp3">园区详情</div><div class="qiju_sp4">（24家）</div></li>
                      <li><div class="qiju_sp3">园区详情</div><div class="qiju_sp4">（20家）</div></li>
                      <li><div class="qiju_sp3">园区详情</div><div class="qiju_sp4">（21家）</div></li>
                      <li><div class="qiju_sp3">园区详情</div><div class="qiju_sp4">（203家）</div></li>  
                    <li><div class="qiju_sp3">园区详情</div><div class="qiju_sp4">（220家）</div></li>
                      <li><div class="qiju_sp3">园区详情</div><div class="qiju_sp4">（210家）</div></li>
                      <li><div class="qiju_sp3">园区详情</div><div class="qiju_sp4">（190家）</div></li>
                      <li><div class="qiju_sp3">园区详情</div><div class="qiju_sp4">（240家）</div></li>
                      <li><div class="qiju_sp3">园区详情</div><div class="qiju_sp4">（1800家）</div></li>                                       
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../common/footer.ejs %>
<% include ../common/modals.ejs %>

<script>

    var navTabs=$('#v-nav-tab');
    var contentTabs=$('.v-tab-content');

    navTabs.on('click','li',function (){

        $(this).addClass('active').siblings().removeClass('active');
        contentTabs.children().removeClass('active').eq($(this).index()).addClass('active')

    })

    uiHelperTableToolsCheckable();

</script>


      
