<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../public/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/lib/fontawesome/font-awesome.min.css">
    <link rel="stylesheet" href="../../public/css/common.css">
    <link rel="stylesheet" href="../../public/lib/bootstrap-datepicker3.min.css">

</head>
<body>
<div class="c-w" id="c-header">
    <div class="c-h">
        <div class="huany">欢迎admain进入奉贤医疗器械管理平台！！！</div>
        <div class="geren">
            <a href="javascript:;" class="gerena" id="u-btn">个人中心</a>
            <div class="tongzhi" id="tongzhi">
                <ul>
                    <li><a href="#">通知</a>
                        <div class="sm_dian">3</div>
                    </li>
                    <li><a href="#">修改密码</a></li>
                    <li><a href="#">退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="c-bg"></div>
</div>
<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
        <div class="c-l">
           <ul class="c-list">
              <li><a href="javascript:;"><i class="icon-caret-right"></i> 接口管理</a>
                  <dl>
                      <dd>
                          <a href="javascript:;">市场所</a>
                      </dd>
                      <dd>
                          <a href="javascript:;">园区</a>
                      </dd>
                  </dl>
              </li>
               <li><a href="javascript:;"><i class="icon-caret-right"></i> 接口管理</a>
                   <dl>
                       <dd>
                           <a href="javascript:;">市场所</a>
                       </dd>
                       <dd>
                           <a href="javascript:;">园区</a>
                       </dd>
                   </dl>
               </li>
               <li><a href="javascript:;"><i class="icon-caret-right"></i> 接口管理</a>
                   <dl>
                       <dd>
                           <a href="javascript:;">市场所</a>
                       </dd>
                       <dd>
                           <a href="javascript:;">园区</a>
                       </dd>
                   </dl>
               </li>

           </ul>

        </div>
        <div class="c-r">
            <div class="row clearfix">
                <div class="col-md-12">
                     <div class="form-group clearfix">
                            <label class="col-md-2 control-label v-text" >检查时间</label>
                            <div class="col-md-5">
                                <div class="input-daterange input-group" data-date-format="mm/dd/yyyy">
                                    <input class="form-control" type="text"  name="example-daterange1" placeholder="From">
                                    <span class="input-group-addon">~</span>
                                    <input class="form-control" type="text" name="example-daterange2" placeholder="To">
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="c-f" id="c-footer">
   <div class="c-text">
        <p>上海市市辖区奉贤区南桥镇上海市奉贤区南桥镇南亭公路269号<br>
        Copyright © CFDA All Rights Reserved    备案序号:沪ICP备13027807号</p>
   </div>
</div>


<script src="../../public/lib/jquery/jquery.min.js"></script>
<script src="../../public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../public/js/common.js"></script>
<script src="../../public/lib/bootstrap-datepicker.js"></script>
<script src="../../public/lib/locales/bootstrap-datepicker.zh-CN.js"></script>

<script>
  new Common('.c-list li >a');

</script>


</body>
</html>