<% include ../common/copy-header.ejs %>

<div class="c-content o-pad" >
    <div class="clearfix">
       <% include ../common/copy-navleft.ejs %>

        <div class="c-r">
              <!--右侧头部－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－-->
            <div class="v-tabs-title ">
                <div class="block">
                    <div class="block-header clearfix">
                        <div class="col-md-12 o-pd">
                            <h3 class="block-title">上海医德医疗设备有限公司</h3>
                        </div>
                        <div class="col-md-8 col-md-offset-4 text-right o-pd clearfix">
                            <div class="v-item-btn">
                                <button class="btn btn-minw btn-primary v-tabs-btn" data-toggle="modal"data-target="#modal-fromleft"  type="button">退出</button>
                            </div>

                            <div class=" v-item-btn">
                                <button class="btn btn-minw btn-primary v-tabs-btn v-min-toggle" type="button">不合格</button>
                                <div class="v-modal-min">
                                    <div class="form-group clearfix o-mg">


                                        <div class="form-group ">

                                            <label class="col-md-3 control-label " for="val-suggestions">建议:</label>
                                            <div class="col-md-8 o-pd">
                                                <textarea class="form-control"  name="val-suggestions" rows="8" placeholder=""></textarea>
                                            </div>
                                        </div>

                                        <div class="col-md-10 col-md-offset-3 o-pd text-left v-code">
                                            <label class="css-input css-checkbox css-checkbox-primary" >
                                                <input type="checkbox"   ><span></span> 抄送至该企业所属园区
                                            </label>
                                        </div>

                                        <div class="col-md-10 col-md-offset-3 v-code text-left o-pd">
                                            <button class="btn btn-sm btn-primary v-t-b" type="submit">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=" v-item-btn">
                                <button class="btn btn-minw btn-primary v-tabs-btn" data-toggle="modal"data-target="#modal-fromphoto"  type="button">合格</button>
                            </div>

                            <div class=" v-item-btn">
                                <button class="btn btn-minw btn-primary v-tabs-btn v-min-toggle" type="button">建议</button>
                                <div class="v-modal-min">
                                    <div class="form-group clearfix o-mg">

                                      <div class="form-group ">

                                        <label class="col-md-3 control-label " for="val-suggestions">建议:</label>
                                        <div class="col-md-8 o-pd">
                                            <textarea class="form-control"  name="val-suggestions" rows="8" placeholder=""></textarea>
                                        </div>
                                      </div>

                                        <div class="col-md-10 col-md-offset-3 o-pd text-left v-code">
                                            <label class="css-input css-checkbox css-checkbox-primary" >
                                                <input type="checkbox"  ><span></span> 抄送至该企业所属园区
                                            </label>
                                        </div>

                                        <div class="col-md-10 col-md-offset-3 v-code text-left o-pd">
                                            <button class="btn btn-sm btn-primary v-t-b" type="submit">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class=" v-item-btn">
                                <button class="btn btn-minw btn-primary v-tabs-btn v-min-toggle" type="button">预约</button>
                                <div class="v-modal-min">
                                    <div class="form-group clearfix o-mg">
                                        <div class="form-group clearfix">
                                            <form>
                                                <label class="col-md-3 control-label v-min-fz">约谈时间:</label>
                                                <div class="col-md-8 o-pd">
                                                    <input class="js-datepicker form-control" data-date-format="yyyy/mm/dd/" type="text" placeholder="mm/dd/yy">
                                                </div>
                                            </form>
                                        </div>

                                        <div class="form-group ">

                                            <label class="col-md-3 control-label " for="val-suggestions">建议:</label>
                                            <div class="col-md-8 o-pd">
                                                <textarea class="form-control" id="val-suggestions" name="val-suggestions" rows="8" placeholder=""></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-10 col-md-offset-3 o-pd text-left v-code">
                                            <label class="css-input css-checkbox css-checkbox-primary" >
                                                <input type="checkbox"  name="val-terms" value="1"><span></span> 抄送至该企业所属园区
                                            </label>
                                        </div>

                                        <div class="col-md-10 col-md-offset-3 v-code text-left o-pd">
                                            <button class="btn btn-sm btn-primary v-t-b" type="submit">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="v-item-btn">
                                  <button class="btn btn-minw btn-primary v-tabs-btn" data-toggle="modal"data-target="#modal-fromleft" type="button">约谈</button>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>

      <!--tabs－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－-->
            <div class="block">
                <ul class="nav nav-tabs nav-justified" id="v-nav-tab" >
                    <li class="active">
                        <a href="javascript:;"> 企业信息</a>
                    </li>
                    <li class="">
                        <a href="javascript:;">采购信息</a>
                    </li>
                    <li class="">
                        <a href="javascript:;">销售信息</a>
                    </li>
                    <li class="">
                        <a href="javascript:;">发票信息</a>
                    </li>
                    <li class="">
                        <a href="javascript:;">客户资质</a>
                    </li>
                    <li class="">
                        <a href="javascript:;">生产商资质</a>
                    </li>
                    <li class="">
                        <a href="javascript:;">供应商资质</a>
                    </li>
                    <li class="">
                        <a href="javascript:;">产品资质</a>
                    </li>
                </ul>
                
                <div class="block-content tab-content v-tab-content ">
                    <div class="tab-pane active">
                        <div class="col-md-12">
                                    <div class="col-md-12 o-pd qyspxq_title">企业信息</div>
                                    <div class="col-md-12 o-pd qyspxq_text">
                                        公司名称：上海医德医疗设备有限公司<br />
                                        公司地址：上海市奉贤区南桥镇南亭公路269号<br />
                                        隶属市场所：上海青浦医疗器械市场所<br />
                                        隶属园区：上海青浦医疗器械区局<br />
                                        联系人：李先生<br />
                                        联系人：12334565455<br />
                                       <span class="col-md-2 o-pd qjjr_xq ">经营范围 ：</span><span class="col-md-10">从事网络科技、计算机科技，从事网络科技、计算机科技，从事网络科技、计算机科技<br />
                                           从事网络科技、计算机科技。</span><br />
                                        <span class="col-md-12 o-pd">经营许可证：沪A4854552</span><br />
                                        许可证有效期：2020年6月30日
                                    </div>
                              </div>

                    </div>
                    <div class="tab-pane">
                        
                        <div class="v-tabs-date">
                            <form class="form-horizontal clearfix"  method="post" onsubmit="return false;">
                                <div class="col-md-12">
                                    <div class="form-group clearfix">
                                        <label class="col-md-2 o-pd v-fz" >检查时间:</label>
                                        <div class="col-md-5">
                                            <div class="input-daterange input-group" data-date-format="mm/dd/yyyy">
                                                <input class="form-control" type="text"  name="example-daterange1" placeholder="开始">
                                                <span class="input-group-addon">~</span>
                                                <input class="form-control" type="text" name="example-daterange2" placeholder="结束">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>


                        <div class="row v-table">
                            <div class="col-md-12">
                                <div class="block">
                                    <table class="table table-hover table-borderless">
                                        <thead>
                                        <tr class="v-table-tr">
                                            <th class="text-center" style="width: 22%">企业名称</th>
                                            <th class="text-center" style="width: 150px">检查状态</th>
                                            <th class="text-center" style="width: 150px;">检查员</th>
                                            <th class="text-center" style="width: 15%">检查日期</th>
                                            <th class="text-center">备注</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="tab-pane" >

                        <div class="v-tabs-date">
                            <form class="form-horizontal clearfix"  method="post" onsubmit="return false;">
                                <div class="col-md-12">
                                    <div class="form-group clearfix">
                                        <label class="col-md-2 o-pd v-fz" >检查时间:</label>
                                        <div class="col-md-5">
                                            <div class="input-daterange input-group" data-date-format="mm/dd/yyyy">
                                                <input class="form-control" type="text"  name="example-daterange1" placeholder="开始">
                                                <span class="input-group-addon">~</span>
                                                <input class="form-control" type="text" name="example-daterange2" placeholder="结束">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="row v-table">
                            <div class="col-md-12">
                                <div class="block">
                                    <table class="table table-hover table-borderless">
                                        <thead>
                                        <tr class="v-table-tr">
                                            <th class="text-center" style="width: 22%">企业名称</th>
                                            <th class="text-center" style="width: 150px">检查状态</th>
                                            <th class="text-center" style="width: 150px;">检查员</th>
                                            <th class="text-center" style="width: 15%">检查日期</th>
                                            <th class="text-center">备注</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" >

                        <div class="v-tabs-date">
                            <form class="form-horizontal clearfix"  method="post" onsubmit="return false;">
                                <div class="col-md-12">
                                    <div class="form-group clearfix">
                                        <label class="col-md-2 o-pd v-fz" >检查时间:</label>
                                        <div class="col-md-5">
                                            <div class="input-daterange input-group" data-date-format="mm/dd/yyyy">
                                                <input class="form-control" type="text"  name="example-daterange1" placeholder="开始">
                                                <span class="input-group-addon">~</span>
                                                <input class="form-control" type="text" name="example-daterange2" placeholder="结束">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                     
                        
                        <div class="row v-table">
                            <div class="col-md-12">
                                <div class="block">
                                    <table class="table table-hover table-borderless">
                                        <thead>
                                        <tr class="v-table-tr">
                                            <th class="text-center" style="width: 22%">企业名称</th>
                                            <th class="text-center" style="width: 150px">检查状态</th>
                                            <th class="text-center" style="width: 150px;">检查员</th>
                                            <th class="text-center" style="width: 15%">检查日期</th>
                                            <th class="text-center">备注</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" >
                           <div class="v-tabs-date">
                                    <form class="form-horizontal clearfix" action="" method="post" onsubmit="return false;">
                                       <div class="col-md-12">
                                           <div class="form-group clearfix">
                                            <label class="col-md-2 o-pd v-fz" >产品名称:</label>
                                            <div class="col-md-5 ">
                                                <div class="col-md-8 o-pd">
                                                    <input class="form-control" type="text" id="example-if-password" name="example-if-password" placeholder="">

                                                </div>

                                                <div class="col-md-4 ">
                                                    <button class="btn btn-default btn-primary" type="submit">查询</button>
                                                </div>
                                            </div>
                                          </div>
                                       </div>
                                    </form>
                        </div>

                        <div class="row v-table">
                            <div class="col-md-12">
                                <div class="block">
                                    <table class="table table-hover table-borderless">
                                        <thead>
                                        <tr class="v-table-tr">
                                            <th class="text-center" style="width: 22%">企业名称</th>
                                            <th class="text-center" style="width: 150px">检查状态</th>
                                            <th class="text-center" style="width: 150px;">检查员</th>
                                            <th class="text-center" style="width: 15%">检查日期</th>
                                            <th class="text-center">备注</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" >
                         <div class="v-tabs-date">
                                    <form class="form-horizontal clearfix" action="" method="post" onsubmit="return false;">
                                       <div class="col-md-12">
                                           <div class="form-group clearfix">
                                            <label class="col-md-2 o-pd v-fz" >产品名称:</label>
                                            <div class="col-md-5 ">
                                                <div class="col-md-8 o-pd">
                                                    <input class="form-control" type="text" id="example-if-password" name="example-if-password" placeholder="">

                                                </div>

                                                <div class="col-md-4 ">
                                                    <button class="btn btn-default btn-primary" type="submit">查询</button>
                                                </div>
                                            </div>
                                          </div>
                                       </div>
                                    </form>
                        </div>
                        <div class="row v-table">
                            <div class="col-md-12">
                                <div class="block">
                                    <table class="table table-hover table-borderless">
                                        <thead>
                                        <tr class="v-table-tr">
                                            <th class="text-center" style="width: 22%">企业名称</th>
                                            <th class="text-center" style="width: 150px">检查状态</th>
                                            <th class="text-center" style="width: 150px;">检查员</th>
                                            <th class="text-center" style="width: 15%">检查日期</th>
                                            <th class="text-center">备注</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" >
                         <div class="v-tabs-date">
                                    <form class="form-horizontal clearfix" action="" method="post" onsubmit="return false;">
                                       <div class="col-md-12">
                                           <div class="form-group clearfix">
                                            <label class="col-md-2 o-pd v-fz" >产品名称:</label>
                                            <div class="col-md-5 ">
                                                <div class="col-md-8 o-pd">
                                                    <input class="form-control" type="text" id="example-if-password" name="example-if-password" placeholder="">

                                                </div>

                                                <div class="col-md-4 ">
                                                    <button class="btn btn-default btn-primary" type="submit">查询</button>
                                                </div>
                                            </div>
                                          </div>
                                       </div>
                                    </form>
                        </div>
                        <div class="row v-table">
                            <div class="col-md-12">
                                <div class="block">
                                    <table class="table table-hover table-borderless">
                                        <thead>
                                        <tr class="v-table-tr">
                                            <th class="text-center" style="width: 22%">企业名称</th>
                                            <th class="text-center" style="width: 150px">检查状态</th>
                                            <th class="text-center" style="width: 150px;">检查员</th>
                                            <th class="text-center" style="width: 15%">检查日期</th>
                                            <th class="text-center">备注</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" >
                         <div class="v-tabs-date">
                                    <form class="form-horizontal clearfix" action="" method="post" onsubmit="return false;">
                                       <div class="col-md-12">
                                           <div class="form-group clearfix">
                                            <label class="col-md-2 o-pd v-fz" >产品名称:</label>
                                            <div class="col-md-5 ">
                                                <div class="col-md-8 o-pd">
                                                    <input class="form-control" type="text" id="example-if-password" name="example-if-password" placeholder="">

                                                </div>

                                                <div class="col-md-4 ">
                                                    <button class="btn btn-default btn-primary" type="submit">查询</button>
                                                </div>
                                            </div>
                                          </div>
                                       </div>
                                    </form>
                        </div>
                        
                        <div class="row v-table">
                            <div class="col-md-12">
                                <div class="block">
                                    <table class="table table-hover table-borderless">
                                        <thead>
                                        <tr class="v-table-tr">
                                            <th class="text-center" style="width: 22%">企业名称</th>
                                            <th class="text-center" style="width: 150px">检查状态</th>
                                            <th class="text-center" style="width: 150px;">检查员</th>
                                            <th class="text-center" style="width: 15%">检查日期</th>
                                            <th class="text-center">备注</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="text-center">上海医德医疗设备有限公司</td>
                                            <td class="text-center">合格</td>
                                            <td class="text-center">王先生</td>
                                            <td class="text-center">
                                                2016-06-29
                                            </td>
                                            <td class="text-center">
                                                该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                            </td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       

        </div>
    </div>
</div>


 <% include ../common/modals.ejs %>
<% include ../common/footer.ejs %>

<script>

seajs.use('/js_cmd/group/marketList-cmd')

</script>


