<% include ../common/header.ejs %>
<script type=""></script>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
        <div class="c-r">
         
            <div id="app">

       		 	<% include ../components/table.ejs %>         
           
            </div>

        </div>
    </div>
</div>


<% include ../common/footer.ejs %>
<% include ../common/modals.ejs %>

<script>
    seajs.use("/js_cmd/components/message/message");
    seajs.use("js_cmd/group/marketList-cmd");


</script>
