<% include ../common/header.ejs %>
<script type=""></script>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
        <div class="c-r">
     
            <div class="block" id="tables">
              
       		 	   <table-btns></table-btns> 
               
               <table-content-s :datalist="<%= JSON.stringify(data)%>" ></table-content-s>  
               <table-content-d :datalist="<%= JSON.stringify(data)%>" ></table-content-d> 

               <v-pages :pagelist="<%= JSON.stringify(pagelist) %>"></v-pages>
            </div>
        </div>
    </div>
</div>


<% include ../common/footer.ejs %>
<% include ../common/modals.ejs %>

<script>
    seajs.use("/js_cmd/components/companytable/table");
    seajs.use("/js_cmd/components/paging");
    seajs.use("/js_cmd/components/message/message");
    seajs.use("js_cmd/group/marketList-cmd");
    
</script>
