<% include ../common/header.ejs %>
<script type=""></script>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
       <div class="c-r">
             


              <% include ../common/rightBtns.ejs %>
            <!--  测试 -->
            <div class="block" id="tables">
              

       		 	   <table-btns></table-btns> 

               <table-content-s :datalist="<%= JSON.stringify(data)%>" ></table-content-s>  


               <div class="v-tabs-date">
                      <form class="form-horizontal clearfix"  method="post" onsubmit="return false;">
                          <div class="col-md-12">
                              <div class="form-group clearfix">
                                  <label class="col-md-2 o-pd v-fz" >检查时间:</label>
                                  <div class="col-md-5">
                                      <div class="input-daterange input-group" data-date-format="mm/dd/yyyy">
                                          <input class="form-control" type="text"  name="example-daterange1" placeholder="开始">
                                          <span class="input-group-addon">~</span>
                                          <input class="form-control" type="text" name="example-daterange2" placeholder="结束">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </form>
               </div>

              
               <table-content-d :datalist="<%= JSON.stringify(data)%>" ></table-content-d> 

               <v-pages :pagelist="<%= JSON.stringify(pagelist) %>"></v-pages>


            </div>
        </div>
    </div>
</div>


<% include ../common/footer.ejs %>
<% include ../common/modals.ejs %>

<script>

    seajs.use("/js_cmd/components/companytable/table");

    seajs.use("/js_cmd/components/paging");
    seajs.use("/js_cmd/components/message/message");


    seajs.use("js_cmd/group/marketList-cmd");
   
    
</script>
