<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
         <div class="c-r" id="inspect">
                <form class="form-horizontal clearfix"  onsubmit="return false;">
                    <div class="clearfix">
                        <div class="col-md-12">
                            <div class="form-group clearfix">
                                <label class="col-md-2 o-pd v-label" >检查时间:</label>
                                <div class="col-md-5 o-pd">
                                    <div class="input-daterange input-group" data-date-format="mm/dd/yyyy">
                                        <input class="form-control" type="text"  name="from" placeholder="开始时间">
                                        <span class="input-group-addon">~</span>
                                        <input class="form-control" type="text" name="to" placeholder="结束时间">
                                    </div>
                                </div>

                            </div>

                            <div class="form-group" >
                               <v-select :role="<%=JSON.stringify(user.content)%>"></v-select>

                                <label class="col-md-1 o-pd v-label-s text-center" for="val-skill">企业:</label>
                                <div class="col-md-2 o-pd-l">
                                    <input class="form-control" name="company">
                                </div>

                                <div class="v-t-b">
                                    <button class="btn btn-md btn-primary btn-block inspect_btn" @click="getContent()" type="submit">查询</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row v-table">
                    <div class="col-md-12">
                        <div class="block" id="c-table-checkbox">
                            <com-table-list :datalist="dataList"></com-table-list>
                        </div>
                    </div>
                </div>
                
                <v-pages :pagelist="dataList.content?dataList.content.page:1"> </v-pages>
          </div>
    </div>
</div>


<% include ../common/modals.ejs %>
<% include ../common/footer.ejs %>

<script>
    
    seajs.use("/js_cmd/group/inspect-cmd.js?v=<%= config.version %>");
   
</script>



       
 