<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
        
        <div class="c-r">
            <form class="form-horizontal clearfix"  method="post" onsubmit="return false;">
                <div class="clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-1 o-pd v-label" for="val-skill"><input class="radio-m" name="val-skill" checked="" type="radio"><span></span>市场所</label>

                            <label class="col-md-1 o-pd v-label-s" for="val-skill"><input class="radio-m" name="radio-group10" type="radio"><span></span>企业：</label>
                            <div class="col-md-2 o-pd-l">
                                <select class="form-control"  name="val-skill">
                                    <option value="">雅为</option>
                                    <option value="html">雅为</option>
                                    <option value="css">雅为</option>
                                    <option value="javascript">雅为</option>
                                    <option value="ruby">雅为</option>
                                    <option value="php">雅为</option>
                                    <option value="asp">雅为</option>
                                    <option value="python">雅为</option>
                                    <option value="mysql">雅为</option>
                                </select>
                            </div>

                            <label class="col-md-1 o-pd v-label-s" for="val-skill"><input class="radio-m" name="radio-group10" type="radio"><span></span>园区：</label>
                            <div class="col-md-2 o-pd-l">
                                <select class="form-control" name="val-skill">
                                    <option value="">雅为</option>
                                    <option value="html">雅为</option>
                                    <option value="css">雅为</option>
                                    <option value="javascript">雅为</option>
                                    <option value="ruby">雅为</option>
                                    <option value="php">雅为</option>
                                    <option value="asp">雅为</option>
                                    <option value="python">雅为</option>
                                    <option value="mysql">雅为</option>
                                </select>
                            </div>
                        </div>
                            <div class="v-t-b col-md-3">
                                <button class=" btn btn-md btn-primary btn-block" type="submit">增加</button>
                            </div>
                            <div class="v-t-b col-md-3">
                                <button class="btn btn-md btn-primary btn-block" type="submit">删除</button>
                            </div>
                       </div>
                </div>
            </form>

            <div class="row v-table">
                <div class="col-md-12">
                    <div class="block">
                        <table class="table table-hover js-table-checkable table-borderless o-m-t">
                            <thead>
                            <tr class="v-table-tr">
                                <th class="text-center" style="width: 10%"></th>
                                <th class="text-center" style="width: 70%">角色名称</th>
                                <th class="text-center" style="width: 20%"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">
                                        <label class="css-input css-checkbox css-checkbox-primary">
                                            <input type="checkbox" name="row_3"><span></span>
                                        </label>
                                </td>
                                <td class="text-center">管理员</td>
                                <td class="text-center"><div class="xg-btm"><input class="btn btn-md btn-primary btn-block" type="submit" value="修改"></div></td>
                                
                            </tr>

                            <tr>
                                <td class="text-center">
                                        <label class="css-input css-checkbox css-checkbox-primary">
                                            <input type="checkbox" name="row_3"><span></span>
                                        </label>
                                </td>
                                <td class="text-center">操作员</td>
                                <td class="text-center"><div class="xg-btm"><input class="btn btn-md btn-primary btn-block" type="submit" value="修改"></div></td>
                                
                            </tr>

                            <tr>
                                <td class="text-center">
                                        <label class="css-input css-checkbox css-checkbox-primary">
                                            <input type="checkbox" name="row_3"><span></span>
                                        </label>
                                </td>
                                <td class="text-center">检查员</td>
                                <td class="text-center"><div class="xg-btm"><input class="btn btn-md btn-primary btn-block" type="submit" value="修改"></div></td>
                                
                            </tr>

                            <tr>
                                <td class="text-center">
                                        <label class="css-input css-checkbox css-checkbox-primary">
                                            <input type="checkbox" name="row_3"><span></span>
                                        </label>
                                </td>
                                <td class="text-center">管理员</td>
                                <td class="text-center"><div class="xg-btm"><input class="btn btn-md btn-primary btn-block" type="submit" value="修改"></div></td>
                                
                            </tr>

                            <tr>
                                <td class="text-center">
                                        <label class="css-input css-checkbox css-checkbox-primary">
                                            <input type="checkbox" name="row_3"><span></span>
                                        </label>
                                </td>
                                <td class="text-center">监管员</td>
                                <td class="text-center"><div class="xg-btm"><input class="btn btn-md btn-primary btn-block" type="submit" value="修改"></div></td>
                                
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<% include ../common/footer.ejs %>
<% include ../common/modals.ejs %>

<script>

    var navTabs=$('#v-nav-tab');
    var contentTabs=$('.v-tab-content');

    navTabs.on('click','li',function (){

        $(this).addClass('active').siblings().removeClass('active');
        contentTabs.children().removeClass('active').eq($(this).index()).addClass('active')

    })

    uiHelperTableToolsCheckable();

</script>

