<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>奉贤区医疗器械管理平台</title>

<link type="text/css" href="css/common.css" rel="stylesheet" />
<link type="text/css" href="css/style.css" rel="stylesheet" />
</head>

<body>
    <div id="big_box">
        <div class="big_bj">
            <div class="warp">
                <div class="denglu">
                      <div class="denglu_title">用户登录</div>
                      <div class="denglu_content">
                         <div class="denglu_kuang">
                           <div class="denglu_name">用户名：</div>
                           <input type="text" class="denglu_m" value="请输入系统分配的密码">
                         </div>
                         <div class="denglu_kuang">
                           <div class="denglu_name">密码：</div>
                           <input type="text" class="denglu_m" value="请输入系统分配的密码">
                         </div>
                         <div class="denglu_kuang">
                           <div class="denglu_name">验证码：</div>
                           <input type="text" class="denglu_yz">
                           <div class="denglu_tu"><img src="images/yz.jpg"></div>
                         </div>
                      </div>
                      <div class="denglu_rem"><input class="kk" type="checkbox" >记住密码</div>
                      <div class="denglu_am">
                      <div class="denglu_bm"><input class="btn denglu_btm" type="button" value="登录"></div>
                      <a href="#">忘记密码？</a></div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="lib/jquery.min.js"></script>
<script type="text/javascript">
     $(function (){
        $('.big_bj').height($(window).height());

     })
</script>
</html>
