<% include ../common/header.ejs %>

<link rel="stylesheet" href="/stylesheets/uploadifive.css">
<link rel="stylesheet" href="/stylesheets/add.css">
<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
         <div class="c-r" id="noticeBoard">
        
                 <div class="col-md-8 col-md-offset-2">
        					<div class="block">
                                <div class="block-header">
                                    <h3 class="block-title">新增公告</h3>
                                </div>
                                <div class="col-md-8 o-pd-l" style="margin-top:30px;">
	                                <div class="block-content block-content-narrow">
	                                    <form action="base_forms_elements.html" method="post" onsubmit="return false;">
	                                        <div class="form-group">
	                                            <label  class="notice-title" :data-id="nowNoticBoard.id">标题</label>
	                                            <input class="form-control noticeTitle" type="text" name="title" :value="nowNoticBoard.title" placeholder="标题">
	                                        </div>
		                                   <div class="form-group clearfix">
	                                            <label class="col-xs-12 o-pd-l" for="example-textarea-input">正文</label>
	                                            <div class="col-xs-12 o-pd-l o-pd-r">
	                                                <textarea class="form-control noticeContent" :value="nowNoticBoard.content"  name="content" rows="6" placeholder="正文内容.."></textarea>
	                                            </div>
	                                        </div>
	                                        <div class="form-group  clearfix closeedfile" v-if="nowNoticBoard.attachments" >
	                                        		<label class="col-xs-12 o-pd-l" for="example-textarea-input">已上传文件</label>
													<div class="col-md-6 " v-if="nowNoticBoard.attachments" v-for="item in nowNoticBoard.attachments">
															<div class="alert alert-info  close_notice" >
					                                        <button type="button" class="close close-data" :data-url="item.fileUrl" :data-name="item.fileName" :data-index="$index"  data-dismiss="alert" >×</button>
					                                      		  <p v-if="item.fileName">{{item.fileName}}</p>
					                                  		</div>
													</div>
											</div>
											<div class="form-group">
												   <div class="add-notice" id="add-notice">
												   </div>
											</div>

											 <div class="form-group clearfix">
	                                          <input id="file_upload" name="file_upload" type="file" multiple="true">
	                                          <a  style="float: right;" class="btn btn-sm btn-primary uploadifive"  href="javascript:$('#file_upload').uploadifive('upload')">确认上传</a>
	                                 
	                                        </div>
	                                        <div class="col-md-3 o-pd-l">
	                                            <button class="btn btn-md btn-block  btn-primary inspect_btn" id="subNotice" type="submit">提交</button>
	                                        </div>
	                                    </form>
	                                </div>
                                </div>
                            </div>
                       </div>     
        </div>
    </div>
</div>


<% include ../common/modals.ejs %>
<% include ../common/footer.ejs %>

<script src="/lib/jquery.js"></script>
<script src="/lib/jquery.uploadifive.js"></script>
<script>
	$(function (){
			var fileData=[];
			$("#file_upload").uploadifive({
				'auto'              : false,
				'uploadScript'      : '/api/app/file/upload',
				"fileSizeLimit"		: "10MB",
				"fileTypeExts" 		: "*.*",
				'buttonText'        : '选择文件',
				'multi'             : false,
				'queueSizeLimit'    : 999,
				'queueID'           : 'add-notice',
				"onUploadComplete" : function(file, data) {
					  console.log(file,data);
					  fileData.push({
					  	 filename:file.name,
					  	 fileUrl:JSON.parse(data).content
					  })
				},
			});	

			$('#subNotice').on('click',function (){

					var status=GetQueryString('status');
					var form={
						title:$('.noticeTitle').val(),
						attachments:fileData,
						content:$('.noticeContent').val(),	
					}
					 if(GetQueryString('status')&&GetQueryString('status')==='modify'){
					    	form.id=$('.notice-title').attr('data-id');
					    	$('.close-data').each(function (index,item){
					    			form.attachments.push({
					    				 filename:$(item).attr('data-name'),
					    				 fileUrl:$(item).attr('data-url')
					    			})
					    	})

					 		$.post('/api/modify/noticeboard/update',form).then(function (data){
								 if(data.success){
								 	alert('修改成功')
								 }else {
								 	alert('添加失败')
								 }
							})

					 }else {
							$.post('/api/add/noticeboard',form).then(function (data){
								 if(data.success){
								 	alert('添加成功')
								 }else {
								 	alert('添加失败')
								 }
							})

					 }					
			})		

			 $(".closeedfile").on('click','.close',function (){
					var index=$(this).attr('data-index');
			 })
	

				function GetQueryString(name) {  
		                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");  
		                var r = window.location.search.substr(1).match(reg);  //获取url中"?"符后的字符串并正则匹配
		                var context = "";  
		                if (r != null)  
		                     context = r[2];  
		                reg = null;  
		                r = null;  
		                return context == null || context == "" || context == "undefined" ? "" : context;  
		        }
		
	})

	seajs.use("/js_cmd/group/add_noticeBoard.js?v=<%= config.version %>");

</script>



      
