<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
         <div class="c-r" id="handle-table">
            <div class="row v-table">
                <div class="col-md-12">
                    <div class="block" >
                        <handle-table-list :datalist="<%=JSON.stringify(data) %>"></handle-table-list>
                    </div>
                </div>
            </div>

             <v-pages :pagelist="1"> </v-pages>
         </div>    
    </div>
</div>

<% include ../common/modals.ejs %>
<% include ../common/footer.ejs %>

<script>
   
   seajs.use("js_cmd/group/organize_market-cmd");

</script>


 


