
<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
        <div class="c-r"  id="organize-park">
            <form class="form-horizontal clearfix"  method="post" onsubmit="return false;">
                <div class="row clearfix">
                    <div class="col-md-12">

                        <div class="form-group">
                         <% if(user.content.type=='DISTRICT'){ %>
                            <label class="col-md-1 o-pd-r v-label" for="val-skill">市场所：</label>
                            <div class="col-md-2 o-pd">
                                <select class="form-control"  id="select_park" name="val-skill" @change="getParkList()">
                                    <option value="0">请选择</option>
                                    <% select.forEach(function (item){%>
                                             <option value="<%=item.id%>"><%=item.name%></option>
                                     <% })%>
                                </select>
                            </div>
                         <%}%>   
                            <label class="col-md-1 o-pd-r v-label-s" for="val-skill">企业：</label>
                            <div class="col-md-2 o-pd">
                               <input type="text" class="form-control select-parkname" >
                            </div>


                            <div class="col-md-4 text-left o-pd clearfix">

                        <%if(user.content.btnPermissions.suggestion){%>  
                            <div class="v-item-btn">
                                <button class="btn btn-minw btn-primary v-tabs-btn v-min-toggle" type="button">建议</button>
                                <div class="v-modal-min">
                                    <div class="form-group clearfix o-mg">

                                        <div class="form-group ">

                                            <label class="col-md-3 control-label " for="val-suggestions">建议:</label>
                                            <div class="col-md-7 o-pd">
                                                <textarea class="form-control" id="val-suggestion"  rows="8"  ></textarea>
                                                <p class="v-msg"></p>
                                            </div>
                                        </div>
                                    
                                        <div class="col-md-10 col-md-offset-3 v-code text-left o-pd-l v-btn-mar">
                                            <button class="btn btn-sm btn-primary v-t-b suggestion-btn" type="submit">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <%}%>            


                     <%if(user.content.btnPermissions.interview){%>  
                            <div class=" v-item-btn">
                                <button class="btn btn-minw btn-primary v-tabs-btn v-min-toggle"  type="button">约谈</button>
                                 <div class="v-modal-min">
                                    <div class="form-group clearfix o-mg">
                                        <div class="form-group clearfix">
                                       
                                                <label class="col-md-3 control-label v-min-fz">约谈时间:</label>
                                                
                                                <div class="col-md-5 o-pd">
                                                  <select class="form-control " id="select-interview" name="date-interview">
                                                       
                                                             <option value="3">三天内</option>
                                                             <option value="7">七天内</option>
                                                             <option value="10">十天内</option>
                                                   </select>
                                               </div>
                                        </div>

                                        <div class="form-group ">

                                            <label class="col-md-3 control-label " for="val-suggestions">备注:</label>
                                            <div class="col-md-7 o-pd">
                                                <textarea class="form-control" id="val-interview"  name="val-interview" rows="8" ></textarea>
                                                <p class="v-msg"></p>
                                            </div>
                                            
                                        </div>
                                    

                                        <div class="col-md-10 col-md-offset-3 v-code text-left o-pd-l v-btn-mar">
                                            <button class="btn btn-sm btn-primary v-t-b interview-btn" type="submit">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          <%}%>      

                         <%if(user.content.btnPermissions.appointment){%>     
                            <div class=" v-item-btn">
                                <button class="btn btn-minw btn-primary v-tabs-btn v-min-toggle " type="button">预约</button>
                                <div class="v-modal-min">
                                    <div class="form-group clearfix o-mg">
                                        <div class="form-group clearfix">
                                            <form>
                                                <label class="col-md-3 control-label v-min-fz">预约时间:</label>
                                                <div class="col-md-7 o-pd">
                                                  <div class="col-md-7 o-pd">
                                                    <input class="js-datepicker form-control" data-date-format="yyyy/mm/dd/" type="text"  id="date-appointment"  placeholder="mm/dd/yy">
                                                   
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="form-group ">

                                            <label class="col-md-3 control-label " for="val-suggestions">备注:</label>
                                            <div class="col-md-7 o-pd">
                                                <textarea class="form-control" id="val-appointment" name="val-suggestions" rows="8" placeholder=""></textarea>
                                                 <p class="v-msg"></p>
                                            </div>
                                        </div>
                                    

                                        <div class="col-md-10 col-md-offset-3 v-code text-left o-pd-l v-btn-mar">
                                            <button class="btn btn-sm btn-primary v-t-b appointment-btn" type="submit">提交</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         <%}%>   



                            <div class=" v-item-btn">
                                <button class="btn btn-minw btn-primary  " style="margin:0 5px" @click="getParkList()" type="button">查询</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="row v-table" >
                <div class="col-md-12">
                    <div class="block" id="tables">
                        <check-table-list :datalist="tableList"  ></check-table-list>
                    </div>
                </div>
            </div>
          
             <v-pages :pagelist="tableList.content.page||1"> </v-pages>
        
        </div>
    </div>

</div>


<% include ../common/modals.ejs %>
<% include ../common/footer.ejs %>

<script>
    seajs.use("js_cmd/group/organize_park-cmd.js?v=<%= config.version %>");

</script>


 