<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
         <div class="c-r">
            <div class="row v-table">
                <div class="col-md-12">
                    <div class="block">
                        <table class="table table-hover table-borderless">
                            <thead>
                            <tr class="v-table-tr">
                                <th class="text-center" style="width: 23%">市场所名称</th>
                                <th class="text-center" style="width: 23%">市场所地址</th>
                                <th class="text-center" style="width: 20%">联系人</th>
                                <th class="text-center" style="width: 20%">联系方式</th>
                                <th class="text-center" style="width: 14%"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">张先生</td>
                                <td class="text-center">1234586445</td>
                                <td class="text-center"><div class="xg-btm"><input class="btn btn-md btn-primary btn-block" type="submit" value="详情"></div></td>
                            </tr>

                            <tr>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">张先生</td>
                                <td class="text-center">1234586445</td>
                                <td class="text-center"><div class="xg-btm"><input class="btn btn-md btn-primary btn-block" type="submit" value="详情"></div></td>
                            </tr>

                            <tr>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">张先生</td>
                                <td class="text-center">1234586445</td>
                                <td class="text-center"><div class="xg-btm"><input class="btn btn-md btn-primary btn-block" type="submit" value="详情"></div></td>
                            </tr>

                            <tr>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">张先生</td>
                                <td class="text-center">1234586445</td>
                                <td class="text-center"><div class="xg-btm"><input class="btn btn-md btn-primary btn-block" type="submit" value="详情"></div></td>
                            </tr>
                            <tr>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">张先生</td>
                                <td class="text-center">1234586445</td>
                                <td class="text-center"><div class="xg-btm"><input class="btn btn-md btn-primary btn-block" type="submit" value="详情"></div></td>
                            </tr>
                            <tr>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">张先生</td>
                                <td class="text-center">1234586445</td>
                                <td class="text-center"><div class="xg-btm"><input class="btn btn-md btn-primary btn-block" type="submit" value="详情"></div></td>
                            </tr>
                            <tr>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">张先生</td>
                                <td class="text-center">1234586445</td>
                                <td class="text-center"><div class="xg-btm"><input class="btn btn-md btn-primary btn-block" type="submit" value="详情"></div></td>
                            </tr>
                            <tr>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">张先生</td>
                                <td class="text-center">1234586445</td>
                                <td class="text-center"><div class="xg-btm"><input class="btn btn-md btn-primary btn-block" type="submit" value="详情"></div></td>
                            </tr>
                            <tr>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">张先生</td>
                                <td class="text-center">1234586445</td>
                                <td class="text-center"><div class="xg-btm"><input class="btn btn-md btn-primary btn-block" type="submit" value="详情"></div></td>
                            </tr>
                            <tr>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">张先生</td>
                                <td class="text-center">1234586445</td>
                                <td class="text-center"><div class="xg-btm"><input class="btn btn-md btn-primary btn-block" type="submit" value="详情"></div></td>
                            </tr>
                            <tr>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">张先生</td>
                                <td class="text-center">1234586445</td>
                                <td class="text-center"><div class="xg-btm"><input class="btn btn-md btn-primary btn-block" type="submit" value="详情"></div></td>
                            </tr>
                            <tr>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">奉贤青村食品药品监督管理所</td>
                                <td class="text-center">张先生</td>
                                <td class="text-center">1234586445</td>
                                <td class="text-center"><div class="xg-btm"><input class="btn btn-md btn-primary btn-block" type="submit" value="详情"></div></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
         </div>    
    </div>
</div>

<script type="text/javascript"  src="dist/index.js"></script>
<% include ../common/footer.ejs %>
<% include ../common/modals.ejs %>

<script>

    var navTabs=$('#v-nav-tab');
    var contentTabs=$('.v-tab-content');

    navTabs.on('click','li',function (){

        $(this).addClass('active').siblings().removeClass('active');
        contentTabs.children().removeClass('active').eq($(this).index()).addClass('active')

    })

    uiHelperTableToolsCheckable();

</script>


 


