
<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
         <div class="c-r">
            <div class="quju"><img src="images/quju.jpg"></div>
        </div>
    </div>
</div>

<script type="text/javascript"  src="dist/index.js"></script>
<% include ../common/footer.ejs %>
<% include ../common/modals.ejs %>

<script>

    var navTabs=$('#v-nav-tab');
    var contentTabs=$('.v-tab-content');

    navTabs.on('click','li',function (){

        $(this).addClass('active').siblings().removeClass('active');
        contentTabs.children().removeClass('active').eq($(this).index()).addClass('active')

    })

    uiHelperTableToolsCheckable();

</script>


      
