
<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
          <div class="c-r" id="app">
                <v-radio-select :selectdata="data" ></v-radio-select>
                <div class="row v-table">
                    <div class="col-md-12">
                        <div class="block">
                          
                            <div class="col-md-6  o-add-l">
                                    <div class="col-md-12 o-pd o-m-t" >
                                        <div class="col-md-3 o-pd  v-righ">姓名：</div>
                                        <div class="col-md-6 o-pd ">
                                            <input type="text" class="form-control"></div>
                                        </div>
                                     <div class="col-md-12 o-pd o-m-t" >
                                        <div class="col-md-3 o-pd  v-righ">密码：</div>
                                        <div class="col-md-6 o-pd ">
                                            <input type="password" class="form-control"></div>
                                        </div>    
                                    <div class="col-md-12 o-pd o-m-t">
                                        <div class="col-md-3 o-pd  v-righ">用户名：</div>
                                        <div class="col-md-6 o-pd ">
                                            <input type="text" class="form-control"></div>
                                        </div>
                                <div class="col-md-12 o-pd o-m-t" >
                                        <div class="col-md-3 o-pd  v-righ">手机号：</div>
                                        <div class="col-md-6 o-pd ">
                                            <input type="text" class="form-control"></div>
                                        </div>
                                <div class="col-md-12 o-pd o-m-t">
                                        <div class="col-md-3 o-pd  v-righ">邮箱：</div>
                                        <div class="col-md-6 o-pd ">
                                            <input type="text" class="form-control"></div>
                                        </div>
                                <div class="col-md-12 o-pd o-m-t">
                                        <div class="col-md-3 o-pd  v-righ">角色：</div>
                                        <div class="col-md-6 o-pd ">
                                            <select class="form-control" id="val-skill" name="val-skill">
                                                <option value="">请选择</option>
                                               <% content.forEach(function (item){%>     
                                                <option value="<%=item.id %>" data-permissions="<%=item.permissionIds%> " ><%=item.name %></option>
                                                <% }) %>
                                    </select></div>
                                        </div>
                                    <div class="col-md-12 o-m-t o-pd">
                                        <div class="col-md-5 o-pd o-m-t">
                                            <div class="v-t-m o-m-t">
                                              <button class=" btn btn-md btn-primary btn-block " type="submit">确定</button>
                                            </div>
                                        </div>
                                        <div class="col-md-2 o-pd o-m-t"></div>
                                        <div class="col-md-5 o-pd o-m-t">
                                            <div class="v-t-b o-m-t">
                                              <button class=" btn btn-md btn-primary btn-block  " type="submit">取消</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
          </div>
    </div>
</div>


<% include ../common/footer.ejs %>
<% include ../common/modals.ejs %>

<script>

   seajs.use('/js_cmd/group/user_admin_add-cmd.js');


</script>


       