<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>

        <div class="c-r" id="app" >
              <v-radio-select  ></v-radio-select>
              <v-radio-content :datacheckbox="checkboxDate" ></v-radio-content>
        </div>

    </div>
</div>


<% include ../common/footer.ejs %>
<% include ../common/modals.ejs %>

<script>
  
    seajs.use('/js_cmd/group/user_add-cmd.js');

</script>



        