<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>

        <div class="c-r" id="user-add" >
            
          <!--   <v-radio-select ></v-radio-select> -->

            <input type="hidden" id="user_role" value="<%= JSON.stringify(user.content) %>">

           <v-radio-content :datacheckbox="checkboxDate" ></v-radio-content>
        </div>

    </div>
</div>


<% include ../common/modals.ejs %>
<% include ../common/footer.ejs %>

<script>
    
    seajs.use('/js_cmd/group/user_add-cmd.js');

   setTimeout(function (){
      Common.getChecked()
   },500)

</script>



        