<% include ../common/header.ejs %>

<div class="c-content o-pad" id="app">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
          <div class="c-r" id="app">
            <v-radio-select :role="<%=JSON.stringify(user.content)%>" :showselect="true"></v-radio-select>

               <input type="hidden" id="user_role" value="<%=JSON.stringify(user.content)%>">
             
            <div class="row">
                <div class="v-t-b col-md-3">
                                <a href="/user/admin/add"  class=" btn btn-md btn-primary btn-block " >增加</a>
                            </div>
                            <div class="v-t-b col-md-3">
                                <button class="btn btn-md btn-primary btn-block" id="delete_user" @click="deleteUser()" >删除</button>
               </div>
            </div>

            <div class="row v-table">
                <div class="col-md-12">
                    <div class="block">
                        <table class="table table js-table-checkable  table-hover table-borderless o-m-t ">
                            <thead>
                            <tr class="v-table-tr">
                                <th class="text-center" style="width: 5%"></th>
                                <th class="text-center" style="width: 10%">姓名</th>
                                <th class="text-center" style="width: 10%">登录账号</th>
                                <th class="text-center" style="width: 10%">手机号</th>
                                <th class="text-center" style="width: 15%">邮箱</th>
                                <th class="text-center" style="width: 15%">创建时间</th>
                                <th class="text-center" style="width: 15%">角色名称</th>
                                <th class="text-center" style="width: 20%">备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in listData.content" v-cloak>
                                <td class="text-center">
                                        <label class="css-input css-checkbox css-checkbox-primary user-checked">
                                            <input type="checkbox" :value="item.id" name="row_3"><span></span>
                                        </label>
                                </td>
                                <td class="text-center displayName">{{item.displayName}}</td>
                                <td class="text-center username">{{item.username}}</td>
                                <td class="text-center phone">{{item.phone||'null'}}</td>
                                <td class="text-center mail">{{item.mail||'null'}}</td>
                                <td class="text-center">{{item.createDate}}</td>
                                <td class="text-center">{{item.roleName}}</td>
                                <td class="text-center"><div class="bei-zhu"><button class=" btn btn-md btn-primary btn-block" :data-id="item.id" :data-belongId="item.belongId" :data-roleId="item.roleId"  data-toggle="modal" @click="getMsg($event)" :data-type="item.type" data-target="#modal-fromuser" >修改</button></div>
                                 <div class="bei-zhu"><button class=" btn btn-md btn-primary btn-block" @click="restPassword($event)" :data-id="item.id">重置</button></div></td>
                            </tr>
                    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

           <v-pages :pagelist="listData.page?0:1" ></v-pages>
        </div>
    </div>
</div>


<% include ../common/modals.ejs %>
<% include ../common/footer.ejs %>

<script>

  
seajs.use('/js_cmd/group/user_edit_list-cmd');

</script>




      
 