<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
          <div class="c-r" id="">
            <form class="form-horizontal clearfix"  method="post" action="" onsubmit="return false;">
                <div class=" clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-1 o-pd v-label" for="radio-1"><input class="radio-m" name="user" checked="checked" id="radio-1" type="radio"><span></span>市场所</label>

                            <label class="col-md-1 o-pd v-label-s" for="radio-2"><input class="radio-m" name="user" type="radio" id="radio-2"><span></span>企业：</label>
                            <div class="col-md-2 o-pd-l">
                                <select class="form-control"  name="val-skill">
                                    <option value="">雅为</option>
                                    <option value="html">雅为</option>
                                    <option value="css">雅为</option>
                                    <option value="javascript">雅为</option>
                                    <option value="ruby">雅为</option>
                                    <option value="php">雅为</option>
                                    <option value="asp">雅为</option>
                                    <option value="python">雅为</option>
                                    <option value="mysql">雅为</option>
                                </select>
                            </div>

                            <label class="col-md-1 o-pd v-label-s" for="radio-3"><input class="radio-m" name="user" type="radio" id="radio-3"><span></span>园区：</label>
                            <div class="col-md-2 o-pd-l">
                                <select class="form-control" name="val-skill">
                                    <option value="">雅为</option>
                                    <option value="html">雅为</option>
                                    <option value="css">雅为</option>
                                    <option value="javascript">雅为</option>
                                    <option value="ruby">雅为</option>
                                    <option value="php">雅为</option>
                                    <option value="asp">雅为</option>
                                    <option value="python">雅为</option>
                                    <option value="mysql">雅为</option>
                                </select>
                            </div>
                        </div>
                        
                            <div class="v-t-b col-md-3">
                                <a href="/user/admin/add"  class=" btn btn-md btn-primary btn-block " >增加</a>
                            </div>
                            <div class="v-t-b col-md-3">
                                <button class="btn btn-md btn-primary btn-block" >删除</button>
                            </div>
                    </div>
                </div>
            </form>

            <div class="row v-table">
                <div class="col-md-12">
                    <div class="block">
                        <table class="table table js-table-checkable  table-hover table-borderless o-m-t ">
                            <thead>
                            <tr class="v-table-tr">
                                <th class="text-center" style="width: 5%"></th>
                                <th class="text-center" style="width: 10%">姓名</th>
                                <th class="text-center" style="width: 10%">登录账号</th>
                                <th class="text-center" style="width: 10%">手机号</th>
                                <th class="text-center" style="width: 15%">邮箱</th>
                                <th class="text-center" style="width: 15%">创建时间</th>
                                <th class="text-center" style="width: 15%">角色名称</th>
                                <th class="text-center" style="width: 20%">备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">
                                        <label class="css-input css-checkbox css-checkbox-primary">
                                            <input type="checkbox" name="row_3"><span></span>
                                        </label>
                                </td>
                                <td class="text-center">李先生</td>
                                <td class="text-center">admin1</td>
                                <td class="text-center">13656489126</td>
                                <td class="text-center">13656489126@163.com</td>
                                <td class="text-center">2016-08-17</td>
                                <td class="text-center">行政部</td>
                                <td class="text-center"><div class="bei-zhu"><button class=" btn btn-md btn-primary btn-block" data-toggle="modal"data-target="#modal-fromuser">修改</button></div>
                                 <div class="bei-zhu"><button class=" btn btn-md btn-primary btn-block" type="submit">重置</button></div></td>
                            </tr>
                          
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

           <v-pages :pagelist="5"> </v-pages>
        </div>
    </div>
</div>


<% include ../common/footer.ejs %>
<% include ../common/modals.ejs %>

<script>

  


</script>




      
 