<% include ../common/header.ejs %>

<div class="c-content o-pad" id="app">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
          <div class="c-r" id="user-edit-list">
         
               <input type="hidden" id="user_role" value="<%=JSON.stringify(user.content)%>">
             
            <div class="row">
               <%if(user.content.btnPermissions.same_level_manage){%>    
                <div class="v-t-b col-md-3">
                                <a href="/user/admin/add"  class=" btn btn-md btn-primary btn-block " >增加</a>
                            </div>
                            <div class="v-t-b col-md-3">
                                <button class="btn btn-md btn-primary btn-block" id="delete_user" @click="deleteUser()" >删除</button>
                </div>
               <%}%> 
            </div>

            <div class="row v-table">
                <div class="col-md-12">
                    <div class="block">
                        <table class="table table js-table-checkable  table-hover table-borderless o-m-t ">
                            <thead>
                            <tr class="v-table-tr">
                                <th class="text-center" style="width: 5%"></th>
                                <th class="text-center" style="width: 10%">姓名</th>
                                <th class="text-center" style="width: 10%">登录账号</th>
                                <th class="text-center" style="width: 10%">手机号</th>
                                <th class="text-center" style="width: 15%">邮箱</th>
                                <th class="text-center" style="width: 15%">创建时间</th>
                                <th class="text-center" style="width: 15%">角色名称</th>
                                <th class="text-center" style="width: 20%">备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in listData.content" v-cloak>
                                <td class="text-center">
                                        <label class="css-input css-checkbox css-checkbox-primary user-checked">
                                            <input type="checkbox" :value="item.id" name="row_3"><span></span>
                                        </label>
                                </td>
                                <td class="text-center displayName">{{item.displayName}}</td>
                                <td class="text-center username">{{item.username}}</td>
                                <td class="text-center phone">{{item.phone||'null'}}</td>
                                <td class="text-center mail">{{item.mail||'null'}}</td>
                                <td class="text-center">{{item.createDate}}</td>
                                <td class="text-center">{{item.roleName}}</td>
                                <td class="text-center"><div class="bei-zhu"><button class=" btn btn-md btn-primary btn-block" :data-id="item.id" :data-belongId="item.belongId" :data-roleId="item.roleId"  data-toggle="modal" @click="getMsg($event)" :data-type="item.type" data-target="#modal-fromuser" >修改</button></div>
                                 <div class="bei-zhu"><button class=" btn btn-md btn-primary btn-block" @click="restPassword($event)" :data-id="item.id">重置</button></div></td>
                            </tr>
                    
                            </tbody>
                        </table>
                      <input type="hidden"  id="role_select" value="<%=JSON.stringify(content)%>"> 
                    </div>
                </div>
            </div>

<div class="modal fade " id="modal-fromuser" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  ">
        <div class="modal-content">
            <div class="modal-header o-nobor">
                <button type="button" class="close v-tabs-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

                       <div class="block-content block-content-narrow">

                                    <div class="js-validation-bootstrap form-horizontal" >
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="val-username">姓名 <span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control model-displayName" type="text" id="val-username" name="val-username" >
                                            </div>
                                        </div>
                                      
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="val-username">用户名 <span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control model-username" type="text" id="val-username" name="val-username" >
                                            </div>
                                        </div>
                                       

                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="val-email">邮箱 <span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control model-mail" type="text" id="val-email" name="val-email" >
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="val-confirm-password">电话<span class="text-danger">*</span></label>
                                            <div class="col-md-7">
                                                <input class="form-control model-phone" type="text" id="val-confirm-password" name="val-confirm-password" >
                                            </div>
                                             <input class="form-control model-id" type="hidden" >
                                             <input class="form-control model-roleId" type="hidden" >
                                             <input class="form-control model-belongId" type="hidden" >
                                             <input class="form-control model-type" type="hidden" >
                                        </div>
                                   
                                         <div class="form-group">
                             
                                                    <div class="col-md-3 control-label">角色：</div>
                
                                                    <div class="col-md-7">
                                                        <select class="form-control " id="select-role-id"  name="val-id">
                                                            <option value="">请选择</option>
                                                            <option v-for="item in roleSelect"  :value="item.id"  >{{item.name }}</option>
                                                        </select>
                                                    </div>
                                      
                                        </div>
                                        
                                       
                                        <div class="form-group">
                                            <div class="col-md-8 col-md-offset-3">
                                                <button class="btn btn-sm btn-primary v-btn-w model-put-btn" >提交</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal  用户 修改  弹框  -->

           
           <v-pages :pagelist="listData.page||1" ></v-pages>
        </div>
    </div>
</div>


<% include ../common/modals.ejs %>
<% include ../common/footer.ejs %>

<script>

  
seajs.use('/js_cmd/group/user_edit_list-cmd');

</script>




      
 