<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
        <div class="c-r">
           <% include ../common/common.ejs %>
        </div>
    </div>
</div>


<% include ../common/modals.ejs %>
<% include ../common/footer.ejs %>

<script>

 

    uiHelperTableToolsCheckable();

</script>



