<% include ../common/header.ejs %>

<div class="c-content o-pad" id="c-content">
    <div class="clearfix">
       <% include ../common/leftNav.ejs %>
         <div class="c-r">
           <div class="block">
            <form class="form-horizontal clearfix"  method="post" onsubmit="return false;">
                <div class="clearfix">
                    <div class="col-md-12">
                        <div class="form-group clearfix">
                            <label class="col-md-1 col-md-2 o-pd v-label-s" >检查时间:</label>
                            <div class="col-md-5">
                                <div class="input-daterange input-group" data-date-format="mm/dd/yyyy">
                                    <input class="form-control" type="text"  name="example-daterange1" placeholder="2016-08-12">
                                    <span class="input-group-addon">~</span>
                                    <input class="form-control" type="text" name="example-daterange2" placeholder="2016-08-12">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-1 o-pd v-label-s" for="val-skill">市场所：</label>
                            <div class="col-md-3">
                                <select class="form-control" id="val-skill" name="val-skill">
                                    <option value="">奉贤青村食品药品监督管理所</option>
                                    <option value="html">奉贤青村食品药品监督管理所</option>
                                    <option value="css">奉贤青村食品药品监督管理所</option>
                                    <option value="javascript">奉贤青村食品药品监督管理所</option>
                                    <option value="ruby">奉贤青村食品药品监督管理所</option>
                                    <option value="php">奉贤青村食品药品监督管理所</option>
                                    <option value="asp">奉贤青村食品药品监督管理所</option>
                                    <option value="python">奉贤青村食品药品监督管理所</option>
                                    <option value="mysql">奉贤青村食品药品监督管理所</option>
                                </select>
                            </div>

                            <label class="col-md-1 o-pd v-label-x" for="val-skill">园区：</label>
                            <div class="col-md-2 o-pd-l">
                                <select class="form-control"  name="val-skill">
                                    <option value="">奉贤青村食品药品</option>
                                    <option value="html">奉贤青村食品药品</option>
                                    <option value="css">奉贤青村食品药品</option>
                                    <option value="javascript">奉贤青村食品药品</option>
                                    <option value="ruby">奉贤青村食品药品</option>
                                    <option value="php">奉贤青村食品药品</option>
                                    <option value="asp">奉贤青村食品药品</option>
                                    <option value="python">奉贤青村食品药品</option>
                                    <option value="mysql">奉贤青村食品药品</option>
                                </select>
                            </div>


                            <label class="col-md-1 o-pd v-label-x" for="val-skill">企业：</label>
                            <div class="col-md-2 o-pd-l">
                                <select class="form-control" name="val-skill">
                                    <option value="">奉贤青村食品药品</option>
                                    <option value="html">奉贤青村食品药品</option>
                                    <option value="css">奉贤青村食品药品</option>
                                    <option value="javascript">奉贤青村食品药品</option>
                                    <option value="ruby">奉贤青村食品药品</option>
                                    <option value="php">奉贤青村食品药品</option>
                                    <option value="asp">奉贤青村食品药品</option>
                                    <option value="python">奉贤青村食品药品</option>
                                    <option value="mysql">奉贤青村食品药品</option>
                                </select>
                            </div>

                            <div class="v-t-b">
                                <button class="btn btn-md btn-primary btn-block" type="submit">查询</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
           </div>
            <div class="row v-table">
                <div class="col-md-12">
                    <div class="block">
                        <table class="table table-hover table-borderless">
                            <thead>
                            <tr class="v-table-tr">
                                <th class="text-center" style="width: 22%">企业名称</th>
                                <th class="text-center" style="width: 150px">检查状态</th>
                                <th class="text-center" style="width: 150px;">检查员</th>
                                <th class="text-center" style="width: 15%">检查日期</th>
                                <th class="text-center">备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-left">上海医德医疗设备有限公司</td>
                                <td class="text-center">合格</td>
                                <td class="text-center">王先生</td>
                                <td class="text-center">
                                    2016-06-29
                                </td>
                                <td class="text-center">
                                    该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-left">上海医德医疗设备有限公司</td>
                                <td class="text-center">合格</td>
                                <td class="text-center">王先生</td>
                                <td class="text-center">
                                    2016-06-29
                                </td>
                                <td class="text-center">
                                    该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-left">上海医德医疗设备有限公司</td>
                                <td class="text-center">合格</td>
                                <td class="text-center">王先生</td>
                                <td class="text-center">
                                    2016-06-29
                                </td>
                                <td class="text-center">
                                    该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-left">上海医德医疗设备有限公司</td>
                                <td class="text-center">合格</td>
                                <td class="text-center">王先生</td>
                                <td class="text-center">
                                    2016-06-29
                                </td>
                                <td class="text-center">
                                    该公司的销售及供应商<a href="javascript:;" class="btn-link"> 详情</a>
                                </td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<% include ../common/footer.ejs %>
<% include ../common/modals.ejs %>

<script>

    var navTabs=$('#v-nav-tab');
    var contentTabs=$('.v-tab-content');

    navTabs.on('click','li',function (){

        $(this).addClass('active').siblings().removeClass('active');
        contentTabs.children().removeClass('active').eq($(this).index()).addClass('active')

    })

    uiHelperTableToolsCheckable();

</script>



       
 